Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto

flags:
  rossum-mcp:
    paths:
      - rossum-mcp/
    carryforward: true
  rossum-agent:
    paths:
      - rossum-agent/
    carryforward: true
  rossum-deploy:
    paths:
      - rossum-deploy/
    carryforward: true

Sync number of MCP tools
  AGENTS.md
  README.md
  docs/source/index.rst
Due: none

Update number of MCP tools on landing page
  docs/landing/index.html
Due: none

rossum-agent-client: Unify usage of match-case
  rossum-agent-client/rossum_agent_client/cli.py
Due: none

blog: Use singular persona
  docs/landing/blog/index.html
Due: none

blog: Split code block in Section 1
  docs/landing/blog/index.html
Due: none

blog: Polish and humanize content
  docs/landing/blog/index.html
  docs/landing/index.html
Due: none

blog: Generate social media summary
  docs/landing/blog/social_media_summary.md
Due: none

blog: Make it more accessible
  docs/landing/blog/index.html
Due: none

blog: Polish it further
  docs/landing/blog/index.html
Due: none

blog: Make it wow
  docs/landing/blog/index.html
Due: none

blog: Remove badge
  docs/landing/blog/index.html
Due: none

blog: Ampify
  docs/landing/blog/index.html
Due: none

blog: Deep clean
  docs/landing/blog/index.html
Due: none

blog: Final poliush
  docs/landing/blog/index.html
Due: none

blog: Update blogpost w.r.t. pasky's suggestion (#142)
  docs/landing/blog/index.html
  docs/landing/blog/social_media_summary.md
  docs/landing/index.html
Due: none

blog: Polish summaries
  docs/landing/blog/social_media_summary.md
Due: none

Drop ugly social media summary
  docs/landing/blog/social_media_summary.md
Due: none

rossum-agent: Convert status if-elif to match-case
  rossum-agent/rossum_agent/streamlit_app/response_formatting.py
Due: rossum-agent

regression-tests: Convert tool mode if-elif to match-case
  regression_tests/framework/assertions.py
Due: none

rossum-agent-client: Convert error handling to match-case
  rossum-agent-client/rossum_agent_client/client.py
Due: none

claude-commands: Copy code-simplifier from anthropics
  .claude/commands/code-simplifier.md
Due: none

rossum-agent: Simplify agent module code for clarity
  .claude/commands/code-simplifier.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/memory.py
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/uv.lock
Due: rossum-agent

claude-commands: Add ds-iterative-simpligication
  .claude/commands/ds-iterative-simplification.md
Due: none

rossum-agent: Simplify top-level module code
  rossum-agent/rossum_agent/agent_logging.py
  rossum-agent/rossum_agent/bedrock_client.py
  rossum-agent/rossum_agent/redis_storage.py
  rossum-agent/rossum_agent/streamlit_app/app.py
  rossum-agent/rossum_agent/user_detection.py
  rossum-agent/tests/streamlit_app/test_app.py
  rossum-agent/tests/test_user_detection.py
Due: rossum-agent

rossum-agent: Simplify rossum-agent/tools module code
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/deploy.py
  rossum-agent/rossum_agent/tools/dynamic_tools.py
  rossum-agent/rossum_agent/tools/formula.py
  rossum-agent/rossum_agent/tools/spawn_mcp.py
  rossum-agent/rossum_agent/tools/subagents/hook_debug.py
  rossum-agent/rossum_agent/tools/subagents/knowledge_base.py
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
  rossum-agent/tests/test_dynamic_tools.py
Due: rossum-agent

landing-page: Expanded is it safe context
  docs/landing/index.html
Due: none

chore: Install rossum-api>=3.8.0 from PyPI
  pyproject.toml
  rossum-agent-client/uv.lock
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
  rossum-deploy/pyproject.toml
  rossum-deploy/uv.lock
  rossum-mcp/pyproject.toml
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent, rossum-deploy

chore: Require python-multipart>=0.0.22 to suppress identified vulnerability
  pyproject.toml
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
  uv.lock
Due: rossum-agent

rossum-mcp: Release rossum-mcp 1.0.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/TOOLS.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
  rossum-mcp/uv.lock
Due: rossum-mcp

rossum-mcp: Start 1.1.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-agent: Repin rossum-mcp>=1.0.0
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Release rossum-agent 1.0.0rc0
  .github/workflows/pre-commit.yaml
  .github/workflows/rossum-agent-tests.yaml
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
Due: rossum-agent

rossum-agent: Add rossum-agent badge to readme
  README.md
Due: none

Polish info about project stability
  README.md
  rossum-agent/README.md
  rossum-deploy/README.md
Due: rossum-agent, rossum-deploy

rossum-agent-client: Release rossum-agent-client 1.1.0
  .claude/commands/ds-release.md
  rossum-agent-client/CHANGELOG.md
  rossum-agent-client/pyproject.toml
  rossum-agent-client/rossum_agent_client/__init__.py
Due: none

rossum-agent-client: Start 1.2.0
  rossum-agent-client/CHANGELOG.md
  rossum-agent-client/pyproject.toml
  rossum-agent-client/rossum_agent_client/__init__.py
Due: none

rossum-agent: Update run instructions & fix docker rossum-agent
  Dockerfile
  README.md
  rossum-agent/README.md
Due: rossum-agent

rossum-agent: Use pypi/pyversions badges
  README.md
  rossum-agent-client/README.md
  rossum-agent/README.md
  rossum-deploy/README.md
  rossum-mcp/README.md
Due: rossum-mcp, rossum-agent, rossum-deploy

Refactor destructive tool filtering to read-only mode support
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/streamlit_app/app.py
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/core.py
  rossum-agent/rossum_agent/tools/dynamic_tools.py
  rossum-agent/tests/test_dynamic_tools.py
  rossum-agent/tests/tools/test_core.py
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/catalog.py
  rossum-mcp/rossum_mcp/tools/discovery.py
  rossum-mcp/tests/test_catalog.py
Due: rossum-mcp, rossum-agent
