Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto

flags:
  rossum-mcp:
    paths:
      - rossum-mcp/
    carryforward: true
  rossum-agent:
    paths:
      - rossum-agent/
    carryforward: true
  rossum-deploy:
    paths:
      - rossum-deploy/
    carryforward: true

rossum-agent: Stream task snapshot events over AI SDK wire protocol
  AGENTS.md
  rossum-agent-client-ts/src/generated.ts
  rossum-agent-tui/package-lock.json
  rossum-agent-tui/src/components/ChatItemDisplay.tsx
  rossum-agent-tui/src/components/TaskSnapshot.tsx
  rossum-agent-tui/src/hooks/useChat.ts
  rossum-agent-tui/src/types.ts
  rossum-agent-tui/src/utils/buildChatItems.ts
  rossum-agent-tui/src/utils/persistence.ts
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/scripts/generate_openapi.py
  rossum-agent/tests/api/test_stream_adapter.py
Due: rossum-agent

rossum-agent: Wrap data-* wire events in data envelope per AI SDK spec
  AGENTS.md
  rossum-agent-tui/src/hooks/useChat.ts
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/tests/api/test_stream_adapter.py
Due: rossum-agent

rossum-agent: Update docs
  AGENTS.md
  docs/source/skills_and_subagents.rst
  docs/source/usage.rst
  rossum-agent-client-ts/README.md
  rossum-agent-client/CHANGELOG.md
  rossum-agent-client/README.md
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
Due: rossum-agent

rossum-agent-tui: Remove unused finalAnswer and toolCallId fields from display types
  rossum-agent-tui/src/hooks/useChat.ts
  rossum-agent-tui/src/types.ts
  rossum-agent-tui/src/utils/buildChatItems.ts
  rossum-agent-tui/src/utils/persistence.ts
Due: none

rossum-agent: Add data-file-created wire event for output files
  AGENTS.md
  rossum-agent-client-ts/src/generated.ts
  rossum-agent-tui/src/hooks/useChat.ts
  rossum-agent-tui/src/types.ts
  rossum-agent-tui/src/utils/buildChatItems.ts
  rossum-agent-tui/src/utils/persistence.ts
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/scripts/generate_openapi.py
  rossum-agent/tests/api/test_stream_adapter.py
Due: rossum-agent

rossum-agent: Handle double-encoded JSON in message request parsing
  rossum-agent/rossum_agent/api/routes/messages.py
Due: rossum-agent

rossum-agent: Route intermediate text deltas through reasoning wire events
  AGENTS.md
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/tests/api/test_stream_adapter.py
Due: rossum-agent

rossum-agent: Emit FinalAnswerStep as data-final-answer wire event
  AGENTS.md
  rossum-agent-client-ts/src/generated.ts
  rossum-agent-tui/src/hooks/useChat.ts
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/scripts/generate_openapi.py
  rossum-agent/tests/api/test_routes.py
  rossum-agent/tests/api/test_stream_adapter.py
Due: rossum-agent

rossum-agent: Fix OpenAPI spec generation for Depends()-injected request bodies
  rossum-agent-client-ts/src/generated.ts
  rossum-agent/scripts/generate_openapi.py
Due: rossum-agent

Remove dead python code
  rossum-agent/rossum_agent/agent/skills.py
  rossum-agent/rossum_agent/tools/subagents/__init__.py
  rossum-agent/rossum_agent/tools/subagents/elis_docs.py
  rossum-agent/tests/agent/test_skills.py
  rossum-deploy/rossum_deploy/models.py
  rossum-mcp/rossum_mcp/tools/__init__.py
  rossum-mcp/rossum_mcp/tools/catalog.py
  rossum-mcp/rossum_mcp/tools/create/handler.py
  rossum-mcp/tests/test_catalog.py
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Bump up elasticsearch timeout to 2mins
  rossum-agent/rossum_agent/tools/elasticsearch.py
Due: rossum-agent

rossum-agent: Move elasticsearch tool and skill into internal/ subdirectory
  rossum-agent/README.md
  rossum-agent/rossum_agent/agent/skills.py
  rossum-agent/rossum_agent/skills/internal/elasticsearch.md
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/internal/__init__.py
  rossum-agent/rossum_agent/tools/internal/elasticsearch.py
  rossum-agent/tests/tools/test_elasticsearch.py
Due: rossum-agent

docs: Fix stale prompts/base_prompt.py path in CLAUDE.md and AGENTS.md
  AGENTS.md
Due: none

docs: Fix stale skill registration instructions in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

claude-commands: Fix stale prompts path in ds-analyze-chats
  .claude/commands/ds-analyze-chats.md
Due: none

rossum-agent: Add tests verifying execute_python blocks network imports to prevent ES bypass
  rossum-agent/tests/tools/test_elasticsearch.py
Due: rossum-agent

rossum-agent: Add prompt injection defense for user-submitted Python scripts
  rossum-agent/rossum_agent/system_prompt.py
Due: rossum-agent

rossum-agent: Move elasticsearch test to internal module
  rossum-agent/tests/tools/internal/__init__.py
  rossum-agent/tests/tools/internal/test_elasticsearch.py
Due: rossum-agent

rossum-agent: Add elasticsearch to exec_python blocked-import tests
  rossum-agent/tests/tools/internal/test_elasticsearch.py
Due: rossum-agent

rossum-agent: Document execute_python bypass defense in elasticsearch module docstring
  rossum-agent/rossum_agent/tools/internal/elasticsearch.py
Due: rossum-agent

rossum-agent: Extract _AGG_KEYS constant in elasticsearch validation
  rossum-agent/rossum_agent/tools/internal/elasticsearch.py
Due: rossum-agent

rossum-agent: Improve elasticsearch validation test coverage
  rossum-agent/tests/tools/internal/test_elasticsearch.py
Due: rossum-agent

rossum-agent: Revert elasticsearch tool and skill
  AGENTS.md
  README.md
  docs/source/skills_and_subagents.rst
  env.sample
  pyproject.toml
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/agent/skills.py
  rossum-agent/rossum_agent/skills/internal/elasticsearch.md
  rossum-agent/rossum_agent/system_prompt.py
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/internal/__init__.py
  rossum-agent/rossum_agent/tools/internal/elasticsearch.py
  rossum-agent/tests/tools/internal/__init__.py
  rossum-agent/tests/tools/internal/test_elasticsearch.py
  rossum-agent/uv.lock
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent

rossum-agent: Add changelog entries for AI SDK streaming migration (#342)
  rossum-agent/CHANGELOG.md
Due: rossum-agent

Bump up fastmcp>3.2.0 for Snyk findings
  pyproject.toml
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent

rossum-agent: Release rossum-agent 2.0.0rc0
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
Due: rossum-agent

rossum-mcp: Add missing schema node fields (description, can_collapse, aggregations, grid, etc.)
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/skills/schema-patching.md
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
  rossum-agent/tests/tools/subagents/test_schema_patching.py
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/models.py
  rossum-mcp/rossum_mcp/tools/update/models.py
  rossum-mcp/tests/tools/create/test_models.py
  rossum-mcp/tests/tools/update/test_models.py
Due: rossum-mcp, rossum-agent

rossum-mcp: Fix chlog entry
  rossum-mcp/CHANGELOG.md
Due: rossum-mcp

rossum-agent: Pass reasoning/formula field details to schema patching sub-agent
  regression_tests/custom_checks/reasoning_field.py
  regression_tests/test_cases.py
  regression_tests/test_regressions.py
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
Due: rossum-agent

rossum-mcp: Release rossum-mcp 2.1.3
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-agent: Allow `http://localhost:3000` CORS origin behind FF
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/api/main.py
Due: rossum-agent

rossum-agent: Bump up rossum-mcp to>=2.1.3
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
Due: rossum-agent

rossum-agent: Release rossum-agent 2.0.0rc1
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

Pin fastmcp==3.2.0
  pyproject.toml
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
  rossum-mcp/pyproject.toml
Due: rossum-mcp, rossum-agent

rossum-agent: Drop incorrect step type for the first step
  rossum-agent/rossum_agent/agent/streaming.py
  rossum-agent/tests/agent/test_streaming.py
  uv.lock
Due: rossum-agent

rossum-agent: Release rossum-agent 2.0.0rc2
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Release rossum-agent 2.0.0
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
Due: rossum-agent

rossum-agent: Start 2.1.0
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
Due: rossum-agent

rossum-mcp: Add LogLevel Literal type and validate at system boundary
  rossum-mcp/rossum_mcp/logging_config.py
  rossum-mcp/rossum_mcp/server.py
  rossum-mcp/tests/test_logging_config.py
Due: rossum-mcp

rossum-mcp: Refactor server into RossumMCPServer class with Config dataclass
  pyproject.toml
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/logging_config.py
  rossum-mcp/rossum_mcp/run.py
  rossum-mcp/rossum_mcp/server.py
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/discovery.py
  rossum-mcp/tests/test_logging_config.py
  rossum-mcp/tests/test_server.py
Due: rossum-mcp
