Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

rossum-mcp: Release rossum-mcp 1.0.1
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-mcp: Start 1.1.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-agent: Release rossum-agent 1.0.0rc1
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

Bump up rossum-api>=3.11.2
  pyproject.toml
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
  rossum-deploy/pyproject.toml
  rossum-deploy/uv.lock
  rossum-mcp/pyproject.toml
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent, rossum-deploy

Bump up rossum-api>=3.11.2 (#268)
  pyproject.toml
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
  rossum-deploy/pyproject.toml
  rossum-deploy/uv.lock
  rossum-mcp/pyproject.toml
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-mcp: Release rossum-mcp 2.0.1
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-mcp: Continue 2.1.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-agent: Release rossum-agent 1.5.1
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
  uv.lock
Due: rossum-agent

rossum-agent: Move defusedxml dependency to extras
  rossum-agent/pyproject.toml
Due: rossum-agent

rossum-agent: Drop unused jinja2 dependency
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
  uv.lock
Due: rossum-agent

rossum-mcp: Replace Literal type aliases with StrEnum classes for tool parameters
  docs/landing/index.html
  docs/source/index.rst
  docs/source/mcp_reference.rst
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/rossum_mcp/tools/create/email_templates.py
  rossum-mcp/rossum_mcp/tools/create/handler.py
  rossum-mcp/rossum_mcp/tools/delete/handler.py
  rossum-mcp/rossum_mcp/tools/delete/models.py
  rossum-mcp/rossum_mcp/tools/get/handler.py
  rossum-mcp/rossum_mcp/tools/models.py
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/rossum_mcp/tools/update/models.py
  rossum-mcp/rossum_mcp/tools/update/schemas/patching.py
Due: rossum-mcp

rossum-mcp: Remove unused NodeCategory
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/models.py
Due: rossum-mcp

rossum-agent: Continue in 1.6.0
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-mcp: Replace literal aliases with proper StrEnum (#269)
  docs/landing/index.html
  docs/source/index.rst
  docs/source/mcp_reference.rst
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/rossum_mcp/tools/create/email_templates.py
  rossum-mcp/rossum_mcp/tools/create/handler.py
  rossum-mcp/rossum_mcp/tools/delete/handler.py
  rossum-mcp/rossum_mcp/tools/delete/models.py
  rossum-mcp/rossum_mcp/tools/get/handler.py
  rossum-mcp/rossum_mcp/tools/models.py
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/rossum_mcp/tools/update/models.py
  rossum-mcp/rossum_mcp/tools/update/schemas/patching.py
Due: rossum-mcp

rossum-agent: Add numeric & LI overrides, and consistent_amounts toggle to generate_mock_pdf
  docs/source/skills_and_subagents.rst
  docs/source/usage.rst
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/mock_pdf.py
  rossum-agent/tests/tools/test_mock_pdf.py
Due: rossum-agent

rossum-agent: Allow fpdf (fpdf2) imports in execute_python sandbox
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/python_exec.py
  rossum-agent/tests/tools/test_execute_python.py
Due: rossum-agent

rossum-agent: Make generate_mock_pdf more powerful (#270)
  docs/source/skills_and_subagents.rst
  docs/source/usage.rst
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/mock_pdf.py
  rossum-agent/rossum_agent/tools/python_exec.py
  rossum-agent/tests/tools/test_execute_python.py
  rossum-agent/tests/tools/test_mock_pdf.py
Due: rossum-agent

rossum-agent: Emit early ToolStartStep when tool use block starts streaming
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/agent/streaming.py
  rossum-agent/tests/agent/test_streaming.py
Due: rossum-agent

rossum-agent: Add sslmode support to PostgresStorage
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/postgres_storage.py
  rossum-agent/tests/test_postgres_storage.py
Due: rossum-agent

rossum-agent: Add sslmode support to PostgresStorage (#272)
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/postgres_storage.py
  rossum-agent/tests/test_postgres_storage.py
Due: rossum-agent

rossum-agent: Release rossum-agent 1.5.2
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Handle multimodal content in list_chats first_message/preview
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/api/services/chat_service.py
  rossum-agent/tests/api/test_chat_service.py
Due: rossum-agent

rossum-agent: Handle multimodal content in list_chats first_message/preview (#273)
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/api/services/chat_service.py
  rossum-agent/tests/api/test_chat_service.py
Due: rossum-agent

rossum-agent: Release rossum-agent 1.5.3
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Normalize multimodal content in get_chat responses
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/api/services/chat_service.py
  rossum-agent/tests/api/test_chat_service.py
Due: rossum-agent

rossum-agent: Normalize multimodal content in get_chat responses (#274)
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/api/services/chat_service.py
  rossum-agent/tests/api/test_chat_service.py
Due: rossum-agent

rossum-agent: Release rossum-agent 1.5.4
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

Add env variable to frontend repo to AGENTS.md
  AGENTS.md
Due: none

rossum-agent: Fix item total field resolution for custom schema field IDs
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/mock_pdf.py
  rossum-agent/tests/tools/test_mock_pdf.py
Due: rossum-agent

Bump rossum-api dependency to >=3.12.0
  pyproject.toml
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
  rossum-deploy/CHANGELOG.md
  rossum-deploy/pyproject.toml
  rossum-deploy/uv.lock
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-mcp: Release rossum-mcp 2.0.2
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-agent: Release rossum-agent 1.5.5
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Document disable_prediction as unsupported in schema-patching skill
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/skills/schema-patching.md
Due: rossum-agent

Path conditions:
  rossum-mcp: any of: rossum-mcp/
  rossum-agent: any of: rossum-agent/
  rossum-deploy: any of: rossum-deploy/
