Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

claude-commands: Add ds-review-readme
  .claude/commands/ds-review-readme.md
Due: none

Apply ds-review-readme
  README.md
Due: none

readme: Make large section collapsible
  README.md
Due: none

Polish readme
  README.md
Due: none

claude-commands: Add ds-improve-test-coverage
  .claude/commands/ds-improve-test-coverage.md
Due: none

feat: Implement dynamic tool exploration to reduce agent context usage
  README.md
  docs/source/mcp_reference.rst
  docs/source/skills_and_subagents.rst
  regression_tests/custom_checks/business_validation_hook.py
  regression_tests/test_cases.py
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/skills/rossum-deployment.md
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/deploy.py
  rossum-agent/rossum_agent/tools/dynamic_tools.py
  rossum-agent/rossum_agent/tools/spawn_mcp.py
  rossum-agent/rossum_agent/tools/subagents/knowledge_base.py
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
  rossum-agent/tests/agent/test_core.py
  rossum-agent/tests/test_dynamic_tools.py
  rossum-agent/tests/test_smoke.py
  rossum-agent/tests/tools/test_init.py
  rossum-agent/tests/tools/test_spawn_mcp.py
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/rossum_mcp/server.py
  rossum-mcp/rossum_mcp/tools/__init__.py
  rossum-mcp/rossum_mcp/tools/catalog.py
  rossum-mcp/rossum_mcp/tools/discovery.py
  rossum-mcp/rossum_mcp/tools/queues.py
  rossum-mcp/tests/test_catalog.py
Due: rossum-mcp, rossum-agent

Match MCP tools count everywhere
  AGENTS.md
  README.md
  docs/source/index.rst
Due: none

Draft blog post
  .claude/commands/ds-review-landing-page.md
  .pre-commit-config.yaml
  docs/landing/blog/images/hero-agent-orchestration.png
  docs/landing/blog/images/skills-modular.png
  docs/landing/blog/index.html
  docs/landing/index.html
Due: none

Reduce blogpost AI slop
  docs/landing/blog/index.html
Due: none

blog: Fix counter in WebKit
  docs/landing/blog/index.html
Due: none

Release v0.4.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-mcp: Start 1.0.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

claude-commands: Update ds-review-readme
  .claude/commands/ds-review-readme.md
Due: none

Apply ds-review-readme
  README.md
  examples/README.md
  regression_tests/README.md
  rossum-agent/README.md
  rossum-deploy/README.md
  rossum-mcp/README.md
  rossum-mcp/TOOLS.md
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Reduce and unify README
  rossum-agent/README.md
  rossum-deploy/README.md
  rossum-mcp/README.md
Due: rossum-mcp, rossum-agent, rossum-deploy

blog: Add note about CodeFactor
  docs/landing/blog/index.html
Due: none

De-duplicate the code
  docs/landing/index.html
  rossum-agent/tests/agent/test_core.py
  rossum-agent/tests/api/test_message_routes.py
  rossum-agent/tests/tools/subagents/test_hook_debug.py
  rossum-deploy/tests/test_workspace.py
  rossum-mcp/tests/tools/test_annotations.py
  rossum-mcp/tests/tools/test_engines.py
  rossum-mcp/tests/tools/test_hooks.py
  rossum-mcp/tests/tools/test_schemas.py
Due: rossum-mcp, rossum-agent, rossum-deploy

Remove redundant value in border-radius shorthand
  docs/landing/index.html
Due: none

rossum-agent-client: Kick off the API client
  .claude/commands/ds-match-api-client.md
  .claude/commands/ds-roast.md
  .github/workflows/release-rossum-agent-client.yml
  .github/workflows/rossum-agent-client-tests.yaml
  CHANGELOG.md
  README.md
  docs/source/installation.rst
  examples/README.md
  pyproject.toml
  regression_tests/README.md
  rossum-agent-client/CHANGELOG.md
  rossum-agent-client/LICENSE
  rossum-agent-client/README.md
  rossum-agent-client/openapi.json
  rossum-agent-client/pyproject.toml
  rossum-agent-client/rossum_agent_client/__init__.py
  rossum-agent-client/rossum_agent_client/cli.py
  rossum-agent-client/rossum_agent_client/client.py
  rossum-agent-client/rossum_agent_client/exceptions.py
  rossum-agent-client/rossum_agent_client/models/__init__.py
  rossum-agent-client/rossum_agent_client/models/requests.py
  rossum-agent-client/rossum_agent_client/models/responses.py
  rossum-agent-client/rossum_agent_client/py.typed
  rossum-agent-client/tests/__init__.py
  rossum-agent-client/tests/conftest.py
  rossum-agent-client/tests/test_async_client.py
  rossum-agent-client/tests/test_cli.py
  rossum-agent-client/tests/test_client.py
  rossum-agent-client/tests/test_models.py
  rossum-agent-client/uv.lock
  rossum-agent/LICENSE
  rossum-agent/README.md
  rossum-deploy/LICENSE
  rossum-deploy/README.md
  rossum-mcp/LICENSE
Due: rossum-mcp, rossum-agent, rossum-deploy

blog: Apply skalimatyas suggestions
  docs/landing/blog/index.html
Due: none

Handle rossum-mcp --> rossum-agents repo renaming
  README.md
  docs/landing/index.html
  docs/source/index.rst
  docs/source/installation.rst
  examples/README.md
  regression_tests/README.md
  rossum-agent-client/CHANGELOG.md
  rossum-agent-client/README.md
  rossum-agent-client/pyproject.toml
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/pyproject.toml
  rossum-deploy/README.md
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
Due: rossum-mcp, rossum-agent, rossum-deploy

claude-commands: Add ds-release & ds-start-new-cycle
  .claude/commands/ds-release.md
  .claude/commands/ds-start-new-cycle.md
Due: none

codecov: Add rossum-agent-cli
  codecov.yml
Due: none

Use uv everywhere
  AGENTS.md
  README.md
  rossum-agent-client/README.md
  rossum-agent/README.md
  rossum-agent/rossum_agent/api/main.py
  rossum-deploy/README.md
  rossum-mcp/README.md
Due: rossum-mcp, rossum-agent, rossum-deploy

claude-commands: Update ds-release
  .claude/commands/ds-release.md
Due: none

rossum-agent-client: Release rossum-agent-client 1.0.0
  rossum-agent-client/CHANGELOG.md
  rossum-agent-client/pyproject.toml
  rossum-agent-client/rossum_agent_client/__init__.py
Due: none

rossum-agent-client: Release rossum-agent-client 1.0.0post0
  rossum-agent-client/pyproject.toml
Due: none

rossum-agent-client: Start 1.1.0
  rossum-agent-client/CHANGELOG.md
  rossum-agent-client/pyproject.toml
  rossum-agent-client/rossum_agent_client/__init__.py
Due: none

claude-commands: Update ds-release & ds-start-new-cycle
  .claude/commands/ds-release.md
  .claude/commands/ds-start-new-cycle.md
Due: none

Polish readmes
  README.md
  examples/README.md
  rossum-agent/README.md
  rossum-deploy/README.md
Due: rossum-agent, rossum-deploy

blog: Add mention of rossum-agent-client Python SDK
  docs/landing/blog/index.html
Due: none

claude-commands: Introduce ds-daily-suggestion & feedback
  .claude/commands/ds-daily-suggestion-feedback.md
  .claude/commands/ds-daily-suggestion.md
Due: none

docs: Update AGENTS.md goal to include all packages
  AGENTS.md
Due: none

claude-commands: Add rossum-agent-client to ds-review-docs inventory
  .claude/commands/ds-review-docs.md
Due: none

claude-commands: Update ds-daily-suggestion to expect 1-5 changes
  .claude/commands/ds-daily-suggestion.md
Due: none

Path conditions:
  rossum-mcp: any of: rossum-mcp/
  rossum-agent: any of: rossum-agent/
  rossum-deploy: any of: rossum-deploy/
