Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto

flags:
  rossum-mcp:
    paths:
      - rossum-mcp/
    carryforward: true
  rossum-agent:
    paths:
      - rossum-agent/
    carryforward: true
  rossum-deploy:
    paths:
      - rossum-deploy/
    carryforward: true

Mitigate a few potential security risks
  rossum-agent/rossum_agent/api/main.py
  rossum-agent/rossum_agent/redis_storage.py
  rossum-agent/rossum_agent/streamlit_app/cli.py
  rossum-agent/rossum_agent/tools/hook_debug.py
  rossum-agent/tests/api/test_chat_service.py
  rossum-agent/tests/streamlit_app/test_app.py
  rossum-agent/tests/streamlit_app/test_cli.py
  rossum-agent/tests/test_redis_storage.py
  rossum-deploy/rossum_deploy/workspace.py
Due: rossum-agent, rossum-deploy

Refactor _clean_schema_node to reduce cyclomatic complexity below 10
  rossum-deploy/rossum_deploy/workspace.py
Due: rossum-deploy

rossum-agent: Remove unused is_in_scope wrapper
  rossum-agent/rossum_agent/agent/request_classifier.py
  rossum-agent/tests/agent/test_request_classifier.py
Due: rossum-agent

rossum-agent: Simplify mcp_tools_to_anthropic_format
  rossum-agent/rossum_agent/rossum_mcp_integration.py
  rossum-agent/tests/test_rossum_mcp_integration.py
Due: rossum-agent

rossum-agent: Add CLI for API testing
  rossum-agent/rossum_agent/api/cli.py
  rossum-agent/rossum_agent/api/dependencies.py
Due: rossum-agent

rossum-agent: Enable extended thinking and distinguish between thinking and final step
  regression_tests/conftest.py
  regression_tests/test_cases.py
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/memory.py
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/streamlit_app/response_formatting.py
  rossum-agent/rossum_agent/tools/knowledge_base.py
  rossum-agent/tests/agent/test_core.py
  rossum-agent/tests/agent/test_models.py
  rossum-agent/tests/api/test_agent_service.py
  rossum-agent/tests/streamlit_app/test_response_formatting.py
Due: rossum-agent

rossum-agent: Refactor too complex methods
  rossum-mcp/rossum_mcp/tools/annotations.py
  rossum-mcp/rossum_mcp/tools/engines.py
  rossum-mcp/rossum_mcp/tools/hooks.py
  rossum-mcp/rossum_mcp/tools/queues.py
  rossum-mcp/rossum_mcp/tools/rules.py
  rossum-mcp/rossum_mcp/tools/schemas.py
  rossum-mcp/rossum_mcp/tools/users.py
  rossum-mcp/rossum_mcp/tools/workspaces.py
Due: rossum-mcp

Polish
  rossum-agent/rossum_agent/agent/memory.py
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/tests/agent/test_memory.py
  rossum-agent/tests/agent/test_models.py
Due: rossum-agent

rossum-agent: Refactor too complex streamlit app
  rossum-agent/rossum_agent/streamlit_app/app.py
Due: rossum-agent

rossum-agent: Enhance test coverage
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/streamlit_app/__init__.py
  rossum-agent/rossum_agent/streamlit_app/cli.py
  rossum-agent/tests/agent/test_core.py
  rossum-agent/tests/agent/test_skills.py
  rossum-agent/tests/agent/test_types.py
  rossum-agent/tests/api/test_cli.py
  rossum-agent/tests/api/test_message_routes.py
  rossum-agent/tests/streamlit_app/test_app.py
  rossum-agent/tests/streamlit_app/test_cli.py
  rossum-agent/tests/test_url_context.py
  rossum-agent/tests/test_user_detection.py
  rossum-agent/tests/test_utils.py
Due: rossum-agent

rossum-agent: Follow thinking block with an intermediate text
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/tests/agent/test_core.py
Due: rossum-agent

uv lock
  rossum-agent/uv.lock
  rossum-deploy/uv.lock
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Evaluatte step type when flushing buffer on them stream end
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/tests/agent/test_core.py
Due: rossum-agent

CI: Test rossum-agent with python 3.14
  .github/workflows/rossum-agent-tests.yaml
Due: none

Update python version badge in readme
  README.md
Due: none

rossum-agent: Improve UX
  .pre-commit-config.yaml
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/streamlit_app/response_formatting.py
  rossum-agent/rossum_agent/tools/spawn_mcp.py
  rossum-agent/tests/api/test_agent_service.py
  rossum-agent/tests/streamlit_app/test_response_formatting.py
  rossum-agent/tests/tools/test_spawn_mcp.py
  rossum-agent/uv.lock
  rossum-deploy/rossum_deploy/workspace.py
  rossum-deploy/tests/test_workspace.py
  rossum-deploy/uv.lock
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Fix load chat api endpoint
  rossum-agent/rossum_agent/api/services/chat_service.py
  rossum-agent/tests/api/test_chat_service.py
Due: rossum-agent

Restore uv run rossum-agent
  pyproject.toml
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/streamlit_app/cli.py
  uv.lock
Due: rossum-agent

Add allowed host patterns for API
  rossum-agent/rossum_agent/api/dependencies.py
Due: rossum-agent

Enable CORS from additional hosts
  rossum-agent/rossum_agent/api/main.py
  rossum-agent/tests/api/test_dependencies.py
  rossum-agent/tests/api/test_main.py
Due: rossum-agent

uv lock
  rossum-agent/uv.lock
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent

rossum-agent: Fix mermaid rendering
  rossum-agent/rossum_agent/streamlit_app/app.py
  rossum-agent/rossum_agent/streamlit_app/render_modules.py
  rossum-agent/tests/streamlit_app/test_render_modules.py
Due: rossum-agent

Add Claude Opus 4.5 badge showing which model powers the agent
  README.md
Due: none

Make one test case even stricter
  .gitignore
  regression_tests/test_cases.py
Due: none

Update Amp/Claude Code instructions
  AGENTS.md
  CLAUDE.md
Due: none

Migrate to Opus 4.5 as a default model
  .gitignore
  regression_tests/conftest.py
  regression_tests/custom_checks.py
  regression_tests/framework/assertions.py
  regression_tests/framework/models.py
  regression_tests/test_cases.py
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/agent/request_classifier.py
  rossum-agent/rossum_agent/bedrock_client.py
  rossum-agent/rossum_agent/prompts/__init__.py
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/prompts/system_prompt.py
  rossum-agent/rossum_agent/skills/hook-debugging.md
  rossum-agent/rossum_agent/skills/rossum-deployment.md
  rossum-agent/tests/agent/test_core.py
  rossum-agent/tests/agent/test_models.py
Due: rossum-agent

Reorder badges
  README.md
Due: none

Make CodeFactor happy and do not call streamlit app directly
  rossum-agent/rossum_agent/streamlit_app/cli.py
Due: rossum-agent

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Migrate from mypy to ty <3
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  README.md
  mypy.ini
  pyproject.toml
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/memory.py
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/agent/types.py
  rossum-agent/rossum_agent/api/cli.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/redis_storage.py
  rossum-agent/rossum_agent/rossum_mcp_integration.py
  rossum-agent/rossum_agent/streamlit_app/app.py
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/deploy.py
  rossum-agent/rossum_agent/user_detection.py
  rossum-agent/tests/agent/test_types.py
  rossum-agent/uv.lock
  rossum-deploy/rossum_deploy/workspace.py
  rossum-mcp/rossum_mcp/tools/annotations.py
  rossum-mcp/rossum_mcp/tools/document_relations.py
  rossum-mcp/rossum_mcp/tools/engines.py
  rossum-mcp/rossum_mcp/tools/hooks.py
  rossum-mcp/rossum_mcp/tools/queues.py
  rossum-mcp/rossum_mcp/tools/relations.py
  rossum-mcp/rossum_mcp/tools/rules.py
  rossum-mcp/rossum_mcp/tools/schemas.py
  rossum-mcp/rossum_mcp/tools/users.py
  rossum-mcp/rossum_mcp/tools/workspaces.py
  rossum-mcp/uv.lock
  ruff.toml
  uv.lock
Due: rossum-mcp, rossum-agent, rossum-deploy

Update ty badge
  README.md
Due: none

rossum-agent: Make request classifier more benevolent to summarizing account setup
  rossum-agent/rossum_agent/agent/request_classifier.py
Due: rossum-agent

rossum-mcp: Add list queues and schemas method
  README.md
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/hooks.py
  rossum-mcp/rossum_mcp/tools/queues.py
  rossum-mcp/rossum_mcp/tools/schemas.py
  rossum-mcp/tests/tools/test_hooks.py
  rossum-mcp/tests/tools/test_queues.py
  rossum-mcp/tests/tools/test_schemas.py
Due: rossum-mcp

rossum-mcp: Add sorting and limit_n for list_annotations
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/annotations.py
Due: rossum-mcp

rossum-agent: Put back mcp mode selection in debug mode to streamlit
  rossum-agent/rossum_agent/streamlit_app/app.py
Due: rossum-agent

AGENTS: Instruct agent not to forget map skills to expert section in prompt
  AGENTS.md
Due: none

rossum-mcp: Add create_queue_from_template tool
  README.md
  docs/source/index.rst
  docs/source/mcp_reference.rst
  docs/source/usage.rst
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/queues.py
  rossum-mcp/tests/tools/test_queues.py
Due: rossum-mcp

rossum-agent: Introduce organization setup
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/request_classifier.py
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/skills/organization-setup.md
Due: rossum-agent

rossum-agent: Enhance schema patching with sub-agent and validations
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/skills/organization-setup.md
  rossum-agent/rossum_agent/skills/schema-patching.md
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/subagents/__init__.py
  rossum-agent/rossum_agent/tools/subagents/hook_debug.py
  rossum-agent/rossum_agent/tools/subagents/knowledge_base.py
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
  rossum-agent/tests/tools/subagents/__init__.py
  rossum-agent/tests/tools/subagents/test_hook_debug.py
  rossum-agent/tests/tools/subagents/test_knowledge_base.py
  rossum-agent/tests/tools/subagents/test_schema_patching.py
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/schemas.py
  rossum-mcp/tests/tools/test_schemas.py
Due: rossum-mcp, rossum-agent
