Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto

flags:
  rossum-mcp:
    paths:
      - rossum-mcp/
    carryforward: true
  rossum-agent:
    paths:
      - rossum-agent/
    carryforward: true
  rossum-deploy:
    paths:
      - rossum-deploy/
    carryforward: true

rossum-agent: Continue in 2.0.0
  rossum-agent/CHANGELOG.md
Due: rossum-agent

Upgrade party
  .pre-commit-config.yaml
  rossum-agent/uv.lock
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent

rossum-agent: Improve error messages for write tools in read-only mode
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/dynamic_tools.py
  rossum-agent/tests/test_dynamic_tools.py
Due: rossum-agent

rossum-agent: Add document investigation skill
  docs/source/skills_and_subagents.rst
  rossum-agent/README.md
  rossum-agent/rossum_agent/skills/investigation.md
Due: rossum-agent

Revert "rossum-agent: Add document investigation skill"
  docs/source/skills_and_subagents.rst
  rossum-agent/README.md
  rossum-agent/rossum_agent/skills/investigation.md
Due: rossum-agent

rossum-agent: Auto-load MCP tools when activating a skill
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/skills.py
  rossum-agent/rossum_agent/skills/document-testing.md
  rossum-agent/rossum_agent/skills/formula-fields.md
  rossum-agent/rossum_agent/skills/hooks.md
  rossum-agent/rossum_agent/skills/rules-and-actions.md
  rossum-agent/rossum_agent/skills/schema-patching.md
  rossum-agent/rossum_agent/skills/ui-settings.md
  rossum-agent/rossum_agent/tools/skills.py
  rossum-agent/tests/agent/test_skills.py
  rossum-agent/tests/tools/test_skills.py
Due: rossum-agent

rossum-mcp: Polish minorly
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/get/handler.py
  rossum-mcp/rossum_mcp/tools/resource_tracking.py
Due: rossum-mcp

rossum-mcp: Add file docstring to get registry and handler
  rossum-mcp/rossum_mcp/tools/get/handler.py
  rossum-mcp/rossum_mcp/tools/get/registry.py
Due: rossum-mcp

rossum-mcp: Enrich schema responses with resolved workspace URLs
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/get/registry.py
  rossum-mcp/rossum_mcp/tools/models.py
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/tools/get/test_schemas.py
  rossum-mcp/tests/tools/update/schemas/test_operations.py
Due: rossum-mcp

rossum-mcp: Add workspace_id filter to schema search
  docs/source/mcp_reference.rst
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/tools/update/schemas/test_operations.py
Due: rossum-mcp

rossum-mcp: Enrich hook responses with resolved workspace URLs
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/get/registry.py
  rossum-mcp/rossum_mcp/tools/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/tools/get/test_handler.py
  rossum-mcp/tests/tools/get/test_hooks.py
  rossum-mcp/tests/tools/update/test_hooks.py
Due: rossum-mcp

rossum-mcp: Extract RossumResourceWithResolvedWorkspaces generic base class
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/models.py
Due: rossum-mcp

rossum-mcp: Add workspace_id filter to hook search
  docs/source/mcp_reference.rst
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/tools/update/test_hooks.py
Due: rossum-mcp

rossum-mcp: Lift first_n to universal search parameter
  rossum-agent/rossum_agent/skills/document-testing.md
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/TOOLS.md
  rossum-mcp/rossum_mcp/tools/get/handler.py
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/tools/get/test_handler.py
Due: rossum-mcp, rossum-agent

rossum-mcp: Drop id filter from queue, engine, relation, and document_relation search
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
Due: rossum-mcp

rossum-mcp: Simplify upload_document error handling
  rossum-mcp/rossum_mcp/tools/create/annotations.py
  rossum-mcp/tests/tools/create/test_annotations.py
Due: rossum-mcp

rossum-mcp: Use build_resource_url for hook template URL construction
  rossum-mcp/rossum_mcp/tools/create/hooks.py
Due: rossum-mcp

rossum-mcp: Validate engine_type against EngineType enum
  rossum-mcp/rossum_mcp/tools/create/engines.py
Due: rossum-mcp

rossum-mcp: Extract get_queue_engine_url to base for reuse
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/create/queues.py
  rossum-mcp/rossum_mcp/tools/get/related.py
  rossum-mcp/tests/tools/create/test_queues.py
Due: rossum-mcp

rossum-mcp: Downgrade search registry log levels to debug
  rossum-mcp/rossum_mcp/tools/search/registry.py
Due: rossum-mcp

Upgrade rossum-api to >=3.13.1, migrate rules from schema to queue scoping
  docs/source/mcp_reference.rst
  pyproject.toml
  regression_tests/custom_checks/business_validation_rules.py
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
  rossum-deploy/CHANGELOG.md
  rossum-deploy/pyproject.toml
  rossum-deploy/rossum_deploy/workspace.py
  rossum-deploy/tests/test_workspace.py
  rossum-deploy/uv.lock
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/tools/create/handler.py
  rossum-mcp/rossum_mcp/tools/create/rules.py
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/tools/create/test_rules.py
  rossum-mcp/tests/tools/update/test_rules.py
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-mcp: Resolve workspace URLs for rule responses
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/get/registry.py
  rossum-mcp/rossum_mcp/tools/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/conftest.py
  rossum-mcp/tests/tools/create/test_rules.py
  rossum-mcp/tests/tools/get/test_handler.py
  rossum-mcp/tests/tools/get/test_rules.py
  rossum-mcp/tests/tools/search/test_rules.py
  rossum-mcp/tests/tools/update/test_rules.py
Due: rossum-mcp

rossum-mcp: Add workspace_id filter to list_rules
  docs/source/mcp_reference.rst
  docs/source/usage.rst
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/tools/search/test_rules.py
Due: rossum-mcp

rossum-mcp: Polish chlog records
  rossum-mcp/CHANGELOG.md
Due: rossum-mcp

rossum-mcp: Resolve workspace URLs for email template responses
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/get/registry.py
  rossum-mcp/rossum_mcp/tools/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/conftest.py
  rossum-mcp/tests/tools/create/test_email_templates.py
  rossum-mcp/tests/tools/get/test_email_templates.py
  rossum-mcp/tests/tools/get/test_handler.py
  rossum-mcp/tests/tools/search/test_email_templates.py
Due: rossum-mcp

rossum-mcp: Add workspace_id filter to list_email_templates
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/tools/search/test_email_templates.py
Due: rossum-mcp

rossum-agent: Persist token usage in chat metadata for cost visibility
  rossum-agent-client-ts/src/generated.ts
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/services/chat_service.py
  rossum-agent/tests/api/test_chat_service.py
  rossum-agent/tests/api/test_message_routes.py
Due: rossum-agent

rossum-agent: Add chlog record for token usage in chat metadata
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-mcp: Resolve workspace URLs for annotation responses
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/get/registry.py
  rossum-mcp/rossum_mcp/tools/models.py
  rossum-mcp/tests/tools/get/test_annotations.py
  rossum-mcp/tests/tools/get/test_handler.py
Due: rossum-mcp

rossum-mcp: Add workspace_id filter to list_annotations
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/tools/get/test_annotations.py
  rossum-mcp/tests/tools/get/test_handler.py
Due: rossum-mcp

docs: Fix stale tool name references in rossum-mcp changelog
  rossum-mcp/CHANGELOG.md
Due: rossum-mcp

rossum-mcp: Use get_args(EngineFieldType) instead of hardcoded validation tuple
  rossum-mcp/rossum_mcp/tools/create/engines.py
Due: rossum-mcp

rossum-mcp: Extract workspace resolution helpers to reduce duplication
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/get/registry.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/tests/tools/test_base.py
Due: rossum-mcp

rossum-agent: Fix integer number format in schema patching prompts
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/skills/schema-patching.md
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
  rossum-agent/tests/tools/subagents/test_schema_patching.py
Due: rossum-agent

rossum-agent: Add tool-aware spillover summarizers
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/spillover.py
  rossum-agent/tests/agent/test_spillover.py
Due: rossum-agent

regression_tests: Avoid using task tools in create_serverless_hook_and_test
  regression_tests/test_cases.py
Due: none

rossum-mcp: Release rossum-mcp 2.1.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-mcp: Start 2.2.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-agent: Bump up rossum-mcp to>=2.1.0
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
Due: rossum-agent
