Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

docs: Fix README paths and standardize pre-commit flags
  .claude/commands/ds-fix-precommit.md
  .claude/commands/ds-release.md
  AGENTS.md
Due: none

claude-commands: Add missing Output/Constraints sections
  .claude/commands/ds-clean-code.md
  .claude/commands/ds-daily-suggestion-feedback.md
  .claude/commands/ds-fix-precommit.md
  .claude/commands/ds-improve-test-coverage.md
Due: none

claude-commands: Move daily-suggestion-log to .claude/
  .claude/commands/ds-daily-suggestion-feedback.md
  .claude/commands/ds-daily-suggestion.md
  .claude/daily-suggestion-log.md
Due: none

claude-commands: Add missing Output sections to ds-review and ds-roast
  .claude/commands/ds-review.md
  .claude/commands/ds-roast.md
Due: none

docs: Fix incorrect directory paths in documentation
  .claude/commands/ds-review-docs.md
  AGENTS.md
Due: none

blog: Hide skip-link element leaking into viewport
  docs/landing/index.html
Due: none

Remove deprecated LLM_MODEL_ID from env.sample
  env.sample
Due: none

rossum-agent: Use consistently model ID across sub-agents
  rossum-agent/rossum_agent/tools/subagents/__init__.py
  rossum-agent/rossum_agent/tools/subagents/base.py
  rossum-agent/rossum_agent/tools/subagents/knowledge_base.py
  rossum-agent/tests/tools/subagents/test_knowledge_base.py
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Parallelize tool execution
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/tools/subagents/knowledge_base.py
  rossum-agent/tests/agent/test_core.py
  rossum-agent/tests/tools/subagents/test_knowledge_base.py
Due: rossum-agent

rossum-agent: Fix using small model consistently
  env.sample
  regression_tests/custom_checks/_utils.py
  regression_tests/framework/constants.py
  regression_tests/framework/mermaid_analyzer.py
  rossum-agent/rossum_agent/agent/request_classifier.py
  rossum-agent/rossum_agent/bedrock_client.py
  rossum-agent/tests/agent/test_request_classifier.py
  rossum-agent/tests/test_bedrock_client.py
  rossum-agent/uv.lock
Due: rossum-agent

claude-commands: Add missing Output sections
  .claude/commands/ds-daily-suggestion-feedback.md
  .claude/commands/ds-review.md
  .claude/commands/ds-roast.md
Due: none

Log daily suggestiong feedback
  .claude/daily-suggestion-log.md
Due: none

Migrate from deprecated FastAPI event handlers to lifespan context manager
  rossum-agent/rossum_agent/api/main.py
  rossum-agent/tests/api/test_main.py
Due: rossum-agent

claude-commans: Introduce ds-review-chlog
  .claude/commands/ds-review-chlog.md
Due: none

rossum-agent: Fix using credentials consistently
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/core.py
  rossum-agent/rossum_agent/tools/deploy.py
  rossum-agent/rossum_agent/tools/formula.py
  rossum-agent/tests/tools/test_deploy.py
  rossum-agent/tests/tools/test_formula.py
Due: rossum-agent

Include skill files to pkg data
  rossum-agent/pyproject.toml
Due: rossum-agent

chore: Add missing environment variables to env.sample
  env.sample
Due: none

rossum-deploy: Remove unused return values from _pull_* methods
  rossum-deploy/rossum_deploy/workspace.py
Due: rossum-deploy

blog: Polish language, dashes etc.
  docs/landing/blog/index.html
Due: none

blog: Add rossum link
  docs/landing/blog/index.html
Due: none

blog: Update section 10
  docs/landing/blog/index.html
Due: none

rossum-mcp: StopAsyncIteration crash when first_n exceeds available items
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/email_templates.py
  rossum-mcp/rossum_mcp/tools/hooks.py
  rossum-mcp/tests/tools/test_email_templates.py
  rossum-mcp/tests/tools/test_hooks.py
Due: rossum-mcp

rossum-mcp: Document silent hook config transformations
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/hooks.py
Due: rossum-mcp

chore: Type hint and changelog maintenance
  rossum-agent/rossum_agent/streamlit_app/response_formatting.py
  rossum-mcp/CHANGELOG.md
Due: rossum-mcp, rossum-agent

claude-commands: Improve ds-review-chlog and ds-review-docs
  .claude/commands/ds-review-chlog.md
  .claude/commands/ds-review-docs.md
  .claude/daily-suggestion-log.md
Due: none

Handle returns from teleport
  rossum-agent-client/rossum_agent_client/client.py
Due: none

api: Allow requests from default prod-eu
  rossum-agent/rossum_agent/api/dependencies.py
Due: rossum-agent

rossum-mcp: Add id filter for listing queues
  rossum-mcp/CHANGELOG.md
  rossum-mcp/TOOLS.md
  rossum-mcp/rossum_mcp/tools/queues.py
Due: rossum-mcp

rossum-mcp: Improve id filter instructions for listing queues
  rossum-mcp/rossum_mcp/tools/queues.py
Due: rossum-mcp

rossum-agent: Enable passing dict | list to write_tool with an in-built serialzation
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/file_tools.py
  rossum-agent/tests/tools/test_file_tools.py
Due: rossum-agent

api: Allow requests from default prod-us
  rossum-agent/rossum_agent/api/dependencies.py
  rossum-agent/tests/api/test_dependencies.py
Due: rossum-agent

fix(rossum-mcp): Return error dict instead of crashing on schema 404
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/schemas.py
  rossum-mcp/tests/tools/test_schemas.py
Due: rossum-mcp

rossum-mcp: Add delete operations
  docs/source/mcp_reference.rst
  docs/source/usage.rst
  regression_tests/custom_checks/__init__.py
  regression_tests/custom_checks/business_validation_hook.py
  regression_tests/custom_checks/queue_deletion.py
  regression_tests/test_cases.py
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/dynamic_tools.py
  rossum-agent/tests/test_dynamic_tools.py
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/tools/annotations.py
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/catalog.py
  rossum-mcp/rossum_mcp/tools/discovery.py
  rossum-mcp/rossum_mcp/tools/hooks.py
  rossum-mcp/rossum_mcp/tools/queues.py
  rossum-mcp/rossum_mcp/tools/rules.py
  rossum-mcp/rossum_mcp/tools/schemas.py
  rossum-mcp/rossum_mcp/tools/workspaces.py
  rossum-mcp/tests/test_catalog.py
  rossum-mcp/tests/tools/test_annotations.py
  rossum-mcp/tests/tools/test_base.py
  rossum-mcp/tests/tools/test_hooks.py
  rossum-mcp/tests/tools/test_queues.py
  rossum-mcp/tests/tools/test_rules.py
  rossum-mcp/tests/tools/test_schemas.py
  rossum-mcp/tests/tools/test_workspaces.py
Due: rossum-mcp, rossum-agent

regression-test: Fix setting rossum credentials in tests
  regression_tests/conftest.py
Due: none

Log breakdowned token usage for visibility
  regression_tests/framework/runner.py
  regression_tests/test_cases.py
  rossum-agent-client/CHANGELOG.md
  rossum-agent-client/README.md
  rossum-agent-client/rossum_agent_client/cli.py
  rossum-agent-client/rossum_agent_client/models/__init__.py
  rossum-agent-client/rossum_agent_client/models/responses.py
  rossum-agent-client/tests/test_cli.py
  rossum-agent-client/tests/test_models.py
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/streamlit_app/app.py
  rossum-agent/tests/agent/test_core.py
  rossum-agent/tests/agent/test_models.py
  rossum-agent/tests/api/test_agent_service.py
  rossum-mcp/CHANGELOG.md
Due: rossum-mcp, rossum-agent

Partial uv lock
  pyproject.toml
  rossum-agent-client/uv.lock
  rossum-deploy/pyproject.toml
  rossum-deploy/uv.lock
  uv.lock
Due: rossum-deploy

Partial uv lock
  rossum-mcp/pyproject.toml
  rossum-mcp/uv.lock
Due: rossum-mcp

uv lock
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
Due: rossum-agent

Path conditions:
  rossum-mcp: any of: rossum-mcp/
  rossum-agent: any of: rossum-agent/
  rossum-deploy: any of: rossum-deploy/
