Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Connect it to Rossum copilot for formula field suggestions
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/request_classifier.py
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/formula.py
  rossum-agent/tests/tools/test_formula.py
Due: rossum-agent

feat(rossum-agent): add ui-settings skill and sub-agent token tracking
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/skills/ui-settings.md
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/core.py
  rossum-agent/rossum_agent/tools/formula.py
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
  rossum-agent/tests/tools/subagents/test_schema_patching.py
  rossum-agent/tests/tools/test_formula.py
Due: rossum-agent

Document skill addition process in AGENTS.md
  AGENTS.md
Due: none

rossum-agent: Further improve schema pruning during setup
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/skills/organization-setup.md
  rossum-agent/rossum_agent/skills/schema-patching.md
  rossum-agent/rossum_agent/skills/schema-pruning.md
  rossum-agent/rossum_agent/skills/ui-settings.md
  rossum-agent/rossum_agent/tools/subagents/__init__.py
  rossum-agent/rossum_agent/tools/subagents/hook_debug.py
  rossum-agent/rossum_agent/tools/subagents/mcp_helpers.py
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
  rossum-agent/tests/tools/subagents/test_hook_debug.py
  rossum-agent/tests/tools/subagents/test_mcp_helpers.py
  rossum-agent/tests/tools/subagents/test_schema_patching.py
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/rossum_mcp/tools/schemas.py
  rossum-mcp/tests/tools/test_schemas.py
Due: rossum-mcp, rossum-agent

rossum-agent: Add PDF document upload for API and Streamlit
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/skills/schema-pruning.md
  rossum-agent/rossum_agent/skills/ui-settings.md
  rossum-agent/rossum_agent/streamlit_app/app.py
  rossum-agent/rossum_agent/tools/formula.py
  rossum-agent/tests/api/test_document_upload.py
  rossum-mcp/rossum_mcp/tools/schemas.py
  rossum-mcp/tests/tools/test_schemas.py
Due: rossum-mcp, rossum-agent

rossum-mcp/rossum-agent: Add email template tools and improve formula field API
  docs/source/usage.rst
  rossum-agent/rossum_agent/skills/schema-patching.md
  rossum-agent/rossum_agent/skills/ui-settings.md
  rossum-agent/rossum_agent/tools/formula.py
  rossum-agent/tests/tools/test_formula.py
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/rossum_mcp/server.py
  rossum-mcp/rossum_mcp/tools/__init__.py
  rossum-mcp/rossum_mcp/tools/email_templates.py
  rossum-mcp/tests/tools/test_email_templates.py
Due: rossum-mcp, rossum-agent

rossum-mcp/rossum-agent: Polis org setup workflow
  rossum-agent/tests/streamlit_app/test_app.py
  rossum-mcp/tests/tools/test_schemas.py
Due: rossum-mcp, rossum-agent

Add ORGANIZATION SETUP example demo
  examples/ORGANIZATION_SETUP.md
Due: none

rossum-mcp: Update MCP tools documentation
  AGENTS.md
  README.md
  docs/source/index.rst
Due: none

Update MCP badge in README
  README.md
Due: none

Document skills and sub-agents
  README.md
  docs/source/index.rst
  docs/source/skills_and_subagents.rst
Due: none

Drop vision & roadmap from README
  README.md
Due: none

rossum-mcp: Fix badge MCP count in README
  rossum-mcp/README.md
Due: rossum-mcp

regression-test: Increase token limit for agent_introduction
  regression_tests/test_cases.py
Due: none

rossum-mcp: Add missing PR reference in chlog
  rossum-mcp/CHANGELOG.md
Due: rossum-mcp

rossum-mcp: Release rossum-mcp 0.3.5
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-mcp: Start 0.3.6
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-mcp: Update README to match main one
  rossum-mcp/README.md
Due: rossum-mcp

rossum-mcp: Add classifiers to individual packages
  rossum-agent/pyproject.toml
  rossum-deploy/pyproject.toml
  rossum-mcp/pyproject.toml
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent[api]: Consume mcp-mode from API spec
  rossum-agent/rossum_agent/api/routes/chats.py
  rossum-agent/tests/api/test_routes.py
Due: rossum-agent

Persis mcp_mode thru the conversation
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/services/chat_service.py
  rossum-agent/rossum_agent/redis_storage.py
  rossum-agent/tests/api/test_routes.py
  rossum-agent/tests/test_redis_storage.py
Due: rossum-agent

rossum-agent: Add smoke test
  rossum-agent/pyproject.toml
  rossum-agent/tests/conftest.py
  rossum-agent/tests/test_smoke.py
  rossum-mcp/rossum_mcp/tools/workspaces.py
Due: rossum-mcp, rossum-agent

regression_tests: Refactor framework, add test, fix Redis tests
  regression_tests/README.md
  regression_tests/custom_checks.py
  regression_tests/custom_checks/__init__.py
  regression_tests/custom_checks/_utils.py
  regression_tests/custom_checks/hidden_multivalue_warning.py
  regression_tests/custom_checks/net_terms_formula_field.py
  regression_tests/custom_checks/no_misleading_training_suggestions.py
  regression_tests/framework/assertions.py
  regression_tests/framework/models.py
  regression_tests/test_cases.py
  regression_tests/test_regressions.py
  rossum-agent/rossum_agent/skills/schema-patching.md
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
  rossum-agent/tests/agent/test_skills.py
  rossum-agent/tests/streamlit_app/test_app.py
  rossum-agent/tests/streamlit_app/test_cli.py
  rossum-agent/tests/test_url_context.py
  rossum-agent/tests/test_utils.py
  rossum-agent/tests/tools/subagents/test_schema_patching.py
  rossum-agent/tests/tools/test_core.py
  rossum-agent/tests/tools/test_formula.py
  rossum-mcp/tests/test_logging_config.py
Due: rossum-mcp, rossum-agent

subagents: Refactor to shared base with token tracking
  regression_tests/test_cases.py
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/rossum_mcp_integration.py
  rossum-agent/rossum_agent/tools/formula.py
  rossum-agent/rossum_agent/tools/skills.py
  rossum-agent/rossum_agent/tools/subagents/__init__.py
  rossum-agent/rossum_agent/tools/subagents/base.py
  rossum-agent/rossum_agent/tools/subagents/hook_debug.py
  rossum-agent/rossum_agent/tools/subagents/knowledge_base.py
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
  rossum-agent/tests/tools/subagents/test_base.py
  rossum-agent/tests/tools/subagents/test_hook_debug.py
  rossum-agent/tests/tools/subagents/test_knowledge_base.py
  rossum-agent/tests/tools/subagents/test_schema_patching.py
  rossum-agent/tests/tools/test_formula.py
  rossum-mcp/rossum_mcp/tools/schemas.py
Due: rossum-mcp, rossum-agent

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

rossum-agent: Drop possibility to use Sonnet
  rossum-agent/README.md
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/bedrock_client.py
  rossum-agent/tests/test_bedrock_client.py
Due: rossum-agent

uv lock
  rossum-agent/tests/test_bedrock_client.py
  rossum-agent/uv.lock
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent

Add make tool for recursive uv lock
  Makefile
Due: none

Remove unused elasticsearch dep
  pyproject.toml
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
  uv.lock
Due: rossum-agent

regression-tests: Add test for businee workflow setup
  regression_tests/README.md
  regression_tests/conftest.py
  regression_tests/custom_checks/__init__.py
  regression_tests/custom_checks/business_validation_hook.py
  regression_tests/custom_checks/hidden_multivalue_warning.py
  regression_tests/custom_checks/net_terms_formula_field.py
  regression_tests/custom_checks/no_misleading_training_suggestions.py
  regression_tests/framework/models.py
  regression_tests/test_cases.py
  regression_tests/test_regressions.py
  rossum-agent/rossum_agent/bedrock_client.py
  rossum-agent/tests/test_bedrock_client.py
Due: rossum-agent

regression-tests: Add test for UI settings
  regression_tests/custom_checks/__init__.py
  regression_tests/custom_checks/queue_ui_settings.py
  regression_tests/test_cases.py
Due: none

rossum-agent[api]: Correctly persist mcp-mode across the conversation
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/tests/api/test_routes.py
Due: rossum-agent

Add Fabry landing page
  .github/workflows/docs-build.yaml
  .github/workflows/docs-deploy.yaml
  .pre-commit-config.yaml
  docs/landing/.gitattributes
  docs/landing/images/fabry_analysis.png
  docs/landing/images/fabry_extension.png
  docs/landing/images/fabry_init.png
  docs/landing/index.html
Due: none

Enhance landing page
  docs/landing/index.html
Due: none

claude-commands: Add ds-fix-precommit
  .claude/commands/ds-fix-precommit.md
Due: none

claude-commands: Add ds-clean-code
  .claude/commands/ds-clean-code.md
Due: none

claude-commands: Add ds-review
  .claude/commands/ds-review.md
Due: none

claude-commands: Add ds-review-landing-page
  .claude/commands/ds-review-landing-page.md
Due: none

Apply ds-review-landing-page
  docs/landing/index.html
Due: none

claude-commands: Add ds-review-docs
  .claude/commands/ds-review-docs.md
Due: none

Path conditions:
  rossum-mcp: any of: rossum-mcp/
  rossum-agent: any of: rossum-agent/
  rossum-deploy: any of: rossum-deploy/
