Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto

flags:
  rossum-mcp:
    paths:
      - rossum-mcp/
    carryforward: true
  rossum-agent:
    paths:
      - rossum-agent/
    carryforward: true
  rossum-deploy:
    paths:
      - rossum-deploy/
    carryforward: true

rossum-agent: Update postgres storage tests to raise SQLAlchemyError
  rossum-agent/tests/test_postgres_storage.py
Due: rossum-agent

rossum-agent: Use shared structlog setup for API logging
  AGENTS.md
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/api/main.py
  rossum-agent/tests/api/test_main.py
  rossum-agent/uv.lock
Due: rossum-agent

regression_tests: Fix system prompt import
  regression_tests/conftest.py
Due: none

rossum-agent: Make AgentMemory.COLLAPSIBLE_TOOLS a ClassVar frozenset
  rossum-agent/rossum_agent/agent/memory.py
  rossum-agent/tests/agent/test_memory.py
Due: rossum-agent

rossum-agent: Drop unneeded type: ignore in flush_and_commit
  rossum-agent/rossum_agent/rossum_mcp_integration/change_tracking.py
Due: rossum-agent

rossum-agent: Deduplicate PostgresStorage error handling via _db_safe decorator
  rossum-agent/rossum_agent/postgres_storage.py
  rossum-agent/tests/test_postgres_storage.py
Due: rossum-agent

rossum-agent: Consolidate dynamic-tools catalog fetch around async path
  rossum-agent/rossum_agent/tools/dynamic_tools.py
  rossum-agent/tests/test_dynamic_tools.py
Due: rossum-agent

rossum-agent: Add internal chlog entry for catalog fetch consolidation
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-agent: Split agent_service module into a subpackage
  rossum-agent/rossum_agent/api/dependencies.py
  rossum-agent/rossum_agent/api/main.py
  rossum-agent/rossum_agent/api/routes/helpers.py
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/rossum_agent/api/services/agent_service/__init__.py
  rossum-agent/rossum_agent/api/services/agent_service/cautious.py
  rossum-agent/rossum_agent/api/services/agent_service/file_intake.py
  rossum-agent/rossum_agent/api/services/agent_service/history.py
  rossum-agent/rossum_agent/api/services/agent_service/service.py
  rossum-agent/rossum_agent/data/rossum-kb.json
  rossum-agent/tests/api/test_agent_service.py
  rossum-agent/tests/api/test_cancellation.py
  rossum-agent/tests/api/test_concurrent_requests.py
  rossum-agent/tests/api/test_document_upload.py
Due: rossum-agent

rossum-agent: Replace forgotten logging
  rossum-agent/rossum_agent/api/services/agent_service/file_intake.py
Due: rossum-agent

rossum-agent: Release rossum-agent 2.1.0
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Start 2.2.0
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
Due: rossum-agent

rossum-agent: Fix imports to be all at the top of the file
  rossum-agent/rossum_agent/api/services/chat_service.py
Due: rossum-agent

rossum-agent: Add missing deps to root-level pyproject
  pyproject.toml
  uv.lock
Due: none

Fix repo owner to rossumai
  .claude/daily-suggestion-log.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/landing/blog/index.html
  docs/landing/index.html
  docs/source/conf.py
  docs/source/rossum-mcp/index.rst
  regression_tests/README.md
  rossum-agent-client-ts/README.md
  rossum-agent-client/CHANGELOG.md
  rossum-agent-client/README.md
  rossum-agent-client/pyproject.toml
  rossum-agent-tui/README.md
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/api/commands/listing.py
  rossum-agent/uv.lock
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/SECURITY.md
Due: rossum-mcp, rossum-agent

Trim duplicated tools/skills sections from root README
  README.md
Due: none

Simplify quick start in README
  README.md
Due: none

README: Add TUI integration
  README.md
  rossum-agent-tui/src/index.tsx
Due: none

chore: update rossum-kb.json with latest Knowledge Base scrape
  rossum-agent/rossum_agent/data/rossum-kb.json
  rossum-agent/uv.lock
Due: rossum-agent

Bump rossum-api to >=3.13.3
  pyproject.toml
  rossum-agent/pyproject.toml
  rossum-mcp/pyproject.toml
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent

rossum-mcp: Add description param to create_rule and patch_rule
  docs/source/rossum-mcp/tools.rst
  rossum-mcp/CHANGELOG.md
  rossum-mcp/TOOLS.md
  rossum-mcp/rossum_mcp/tools/create/rules.py
  rossum-mcp/rossum_mcp/tools/update/rules.py
  rossum-mcp/tests/conftest.py
  rossum-mcp/tests/tools/create/test_rules.py
  rossum-mcp/tests/tools/update/test_rules.py
Due: rossum-mcp

AGENTS: Enrich existing tests when adding a new param on existing handler
  AGENTS.md
Due: none

README: Announce temporary move to private GitLab
  README.md
Due: none
