Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto

flags:
  rossum-mcp:
    paths:
      - rossum-mcp/
    carryforward: true
  rossum-agent:
    paths:
      - rossum-agent/
    carryforward: true
  rossum-deploy:
    paths:
      - rossum-deploy/
    carryforward: true

security: Add snyk scanner
  .github/workflows/snyk.yaml
Due: none

rossum-deploy: Update readme
  rossum-deploy/README.md
Due: rossum-deploy

Add regression test requiring search_knowledge_base
  regression_tests/conftest.py
  regression_tests/framework/__init__.py
  regression_tests/framework/assertions.py
  regression_tests/framework/models.py
  regression_tests/framework/runner.py
  regression_tests/test_cases.py
  regression_tests/test_regressions.py
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/tests/test_core.py
Due: rossum-agent

Add ruff and uv badge to README
  README.md
Due: none

regression-test: Add require sub-agent
  pyproject.toml
  regression_tests/framework/models.py
  regression_tests/test_cases.py
  regression_tests/test_regressions.py
Due: none

regression-test: Add simple tests checking agent does not overthink
  regression_tests/framework/assertions.py
  regression_tests/framework/models.py
  regression_tests/test_cases.py
Due: none

Polish README badges
  README.md
Due: none

Add PR template
  .github/pull_request_template.md
Due: none

rossum-agent: Improve result analyzing UX
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/streamlit_app/response_formatting.py
  rossum-agent/rossum_agent/tools/knowledge_base.py
  rossum-agent/tests/tools/test_knowledge_base.py
Due: rossum-agent

rossum-agent: Add tests for sub-agent response formatting
  rossum-agent/tests/test_app_llm_response_formatting.py
Due: rossum-agent

Remove data insight remnant as they became irrelevant
  examples/DATA_INSIGHT.md
  examples/README.md
  revenue.png
Due: none

regression-test: Add a test for agent introduction
  regression_tests/test_cases.py
Due: none

Update obsolete stuff
  .gitattributes
  docs/source/examples.rst
  docs/source/index.rst
  docs/source/usage.rst
  rossum-agent/CHANGELOG.md
  rossum-mcp/CHANGELOG.md
  ruff.toml
Due: rossum-mcp, rossum-agent

rossum-agent: Add a guardrail for user requests
  regression_tests/test_cases.py
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/request_classifier.py
  rossum-agent/tests/test_request_classifier.py
Due: rossum-agent

regression-test: Add splitting fix requiring rossum_deploy usage test
  .gitignore
  regression_tests/conftest.py
  regression_tests/custom_checks.py
  regression_tests/framework/assertions.py
  regression_tests/framework/constants.py
  regression_tests/framework/mermaid_analyzer.py
  regression_tests/framework/models.py
  regression_tests/test_cases.py
  regression_tests/test_regressions.py
  rossum-agent/rossum_agent/skills/rossum-deployment.md
  rossum-agent/rossum_agent/tools/knowledge_base.py
Due: rossum-agent

regression-test: Remove unused configurability
  .gitignore
  regression_tests/conftest.py
  regression_tests/framework/__init__.py
  regression_tests/framework/assertions.py
  regression_tests/framework/models.py
Due: none

rossum-deploy: Enhance test coverage
  rossum-deploy/pyproject.toml
  rossum-deploy/tests/test_workspace.py
Due: rossum-deploy

rossum-deploy: Release rossum-deploy 0.1.0
  rossum-deploy/CHANGELOG.md
  rossum-deploy/pyproject.toml
  rossum-deploy/rossum_deploy/__init__.py
Due: rossum-deploy

rossum-deploy: Start 0.2.0
  rossum-deploy/pyproject.toml
  rossum-deploy/rossum_deploy/__init__.py
Due: rossum-deploy

Update chlog
  rossum-deploy/CHANGELOG.md
Due: rossum-deploy

docs: Add newly added features for Rossum MCP
  docs/source/mcp_reference.rst
Due: none

rossum-mcp: Release rossum-mcp 0.3.4
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-mcp: Start 0.3.5
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

Add pypi badges to README
  README.md
Due: none

Rearrange badges in README
  README.md
Due: none

Unify README badges
  rossum-agent/README.md
  rossum-deploy/README.md
  rossum-mcp/README.md
Due: rossum-mcp, rossum-agent, rossum-deploy

Add publish to pypi step to release CI workflows
  .github/workflows/release-rossum-agent.yml
  .github/workflows/release-rossum-deploy.yml
  .github/workflows/release-rossum-mcp.yml
Due: none

Add note about a personal side-project to all readmes
  rossum-agent/README.md
  rossum-deploy/README.md
  rossum-mcp/README.md
Due: rossum-mcp, rossum-agent, rossum-deploy

Add individual project codecov badges to readmes
  rossum-agent/README.md
  rossum-deploy/README.md
  rossum-mcp/README.md
Due: rossum-mcp, rossum-agent, rossum-deploy

Fix branch name on project codecov badges
  rossum-agent/README.md
  rossum-deploy/README.md
  rossum-mcp/README.md
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Improve API test coverage
  rossum-agent/tests/api/conftest.py
  rossum-agent/tests/api/test_agent_service.py
  rossum-agent/tests/api/test_dependencies.py
  rossum-agent/tests/api/test_file_routes.py
  rossum-agent/tests/api/test_file_service.py
  rossum-agent/tests/api/test_main.py
  rossum-agent/tests/api/test_message_routes.py
  rossum-agent/tests/api/test_routes.py
Due: rossum-agent

rossum-agent: Improve redis storage coverage
  rossum-agent/tests/test_redis_storage.py
Due: rossum-agent

rossum-agent: Improve tools test coverage
  rossum-agent/tests/tools/test_core.py
Due: rossum-agent

rossum-agent: Improve streamlit app test coverage
  rossum-agent/tests/streamlit_app/__init__.py
  rossum-agent/tests/streamlit_app/test_app.py
  rossum-agent/tests/streamlit_app/test_cli.py
  rossum-agent/tests/streamlit_app/test_render_modules.py
  rossum-agent/tests/streamlit_app/test_response_formatting.py
Due: rossum-agent

rossum-agent: Improve agent module test coverage
  rossum-agent/tests/agent/__init__.py
  rossum-agent/tests/agent/test_context_propagation.py
  rossum-agent/tests/agent/test_core.py
  rossum-agent/tests/agent/test_memory.py
  rossum-agent/tests/agent/test_models.py
  rossum-agent/tests/agent/test_request_classifier.py
  rossum-agent/tests/agent/test_skills.py
Due: rossum-agent

rossum-agent: Remove unused clear_generate_files function
  rossum-agent/rossum_agent/utils.py
  rossum-agent/tests/test_utils.py
Due: rossum-agent

rossum-agent: Remove unused create_bedrock_client_from_sts_credentials
  rossum-agent/rossum_agent/bedrock_client.py
  rossum-agent/tests/test_bedrock_client.py
Due: rossum-agent

rossum-agent: Streamline skills definition and usage description
  regression_tests/test_cases.py
  rossum-agent/rossum_agent/agent/skills.py
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/prompts/system_prompt.py
  rossum-agent/rossum_agent/skills/rossum-deployment.md
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/deploy.py
  rossum-agent/tests/agent/test_skills.py
Due: rossum-agent

Add codefactor badge
  README.md
Due: none
