Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Release rossum-agent 1.8.2
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
Due: rossum-agent

rossum-agent: Continue in 2.0.0
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-agent: Fix execute_python scoping bug with nested functions
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/python_exec.py
  rossum-agent/tests/tools/test_execute_python.py
Due: rossum-agent

rossum-agent: Increase max code length from 12k to 25k characters
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/python_exec.py
Due: rossum-agent

rossum-mcp: Handle batch get failures gracefully with partial results
  docs/source/usage.rst
  rossum-mcp/CHANGELOG.md
  rossum-mcp/TOOLS.md
  rossum-mcp/rossum_mcp/tools/get/handler.py
  rossum-mcp/tests/tools/get/test_handler.py
Due: rossum-mcp

rossum-agent: Wrap list tool results with total_results count
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/spillover.py
  rossum-agent/rossum_agent/agent/tool_execution.py
  rossum-agent/tests/agent/test_spillover.py
  rossum-agent/tests/agent/test_tool_execution.py
Due: rossum-agent

docs: Document prompt caching
  docs/source/index.rst
  docs/source/usage.rst
  rossum-agent/README.md
Due: rossum-agent

rossum-mcp: Release rossum-mcp 2.1.1
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-mcp: Continue 2.2.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-agent: Bump up rossum-mcp to>=2.1.1
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
Due: rossum-agent

rossum-agent: Release rossum-agent 1.8.3
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
Due: rossum-agent

rossum-agent-tui: Add /copy command for clipboard support
  rossum-agent-tui/src/app.tsx
  rossum-agent-tui/src/hooks/useCommands.ts
  rossum-agent-tui/src/hooks/useLocalCommands.ts
  rossum-agent-tui/src/utils/clipboard.ts
Due: none

commands: Skip abandoned chat in ds-analyze-chats
  .claude/commands/ds-analyze-chats.md
Due: none

rossum-agent-tui: Replace scroll height estimation with measurement-based ScrollBox
  rossum-agent-tui/src/app.tsx
  rossum-agent-tui/src/components/ChatView.tsx
  rossum-agent-tui/src/components/ScrollBox.tsx
Due: none

rossum-agent-tui: Add viewport culling to ScrollBox
  rossum-agent-tui/src/components/ChatView.tsx
  rossum-agent-tui/src/components/ScrollBox.tsx
Due: none

AGENTS: Add a note about deprecation of current SSE contract
  AGENTS.md
Due: none

rossum-agent, rossum-agent-tui: Stream tool call events over AI SDK wire protocol
  AGENTS.md
  rossum-agent-tui/package.json
  rossum-agent-tui/src/components/ChatItemDisplay.tsx
  rossum-agent-tui/src/components/StreamingIndicator.tsx
  rossum-agent-tui/src/components/ToolCallBlock.tsx
  rossum-agent-tui/src/hooks/useChat.ts
  rossum-agent-tui/src/types.ts
  rossum-agent-tui/src/utils/buildChatItems.ts
  rossum-agent-tui/src/utils/persistence.ts
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/tests/api/test_stream_adapter.py
Due: rossum-agent

rossum-agent: Stream reasoning events over AI SDK wire protocol
  AGENTS.md
  rossum-agent-tui/src/components/ChatItemDisplay.tsx
  rossum-agent-tui/src/components/StreamingIndicator.tsx
  rossum-agent-tui/src/hooks/useChat.ts
  rossum-agent-tui/src/types.ts
  rossum-agent-tui/src/utils/buildChatItems.ts
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/rossum_agent/agent/__init__.py
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/agent/streaming.py
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/tests/agent/test_core.py
  rossum-agent/tests/agent/test_models.py
  rossum-agent/tests/agent/test_streaming.py
  rossum-agent/tests/api/test_agent_service.py
  rossum-agent/tests/api/test_message_routes.py
  rossum-agent/tests/api/test_routes.py
  rossum-agent/tests/api/test_stream_adapter.py
Due: rossum-agent

rossum-agent: Stream task snapshot events over AI SDK wire protocol
  AGENTS.md
  rossum-agent-client-ts/src/generated.ts
  rossum-agent-tui/package-lock.json
  rossum-agent-tui/src/components/ChatItemDisplay.tsx
  rossum-agent-tui/src/components/TaskSnapshot.tsx
  rossum-agent-tui/src/hooks/useChat.ts
  rossum-agent-tui/src/types.ts
  rossum-agent-tui/src/utils/buildChatItems.ts
  rossum-agent-tui/src/utils/persistence.ts
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/scripts/generate_openapi.py
  rossum-agent/tests/api/test_stream_adapter.py
Due: rossum-agent

rossum-agent: Update docs
  AGENTS.md
  docs/source/skills_and_subagents.rst
  docs/source/usage.rst
  rossum-agent-client-ts/README.md
  rossum-agent-client/CHANGELOG.md
  rossum-agent-client/README.md
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
Due: rossum-agent

rossum-agent-tui: Remove unused finalAnswer and toolCallId fields from display types
  rossum-agent-tui/src/hooks/useChat.ts
  rossum-agent-tui/src/types.ts
  rossum-agent-tui/src/utils/buildChatItems.ts
  rossum-agent-tui/src/utils/persistence.ts
Due: none

rossum-agent: Fix duplicate text emission in stream adapter
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/tests/api/test_stream_adapter.py
Due: rossum-agent

rossum-agent: Add data-file-created wire event for output files
  AGENTS.md
  rossum-agent-client-ts/src/generated.ts
  rossum-agent-tui/src/hooks/useChat.ts
  rossum-agent-tui/src/types.ts
  rossum-agent-tui/src/utils/buildChatItems.ts
  rossum-agent-tui/src/utils/persistence.ts
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/scripts/generate_openapi.py
  rossum-agent/tests/api/test_stream_adapter.py
Due: rossum-agent

rossum-agent: Wrap data-* wire events in data envelope per AI SDK spec
  AGENTS.md
  rossum-agent-tui/src/hooks/useChat.ts
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/tests/api/test_stream_adapter.py
Due: rossum-agent

rossum-agent: Handle double-encoded JSON in message request parsing
  rossum-agent/rossum_agent/api/routes/messages.py
Due: rossum-agent

rossum-mcp: Fix cursor pagination in graceful_list
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/tests/tools/get/test_annotations.py
  rossum-mcp/tests/tools/get/test_document_relations.py
  rossum-mcp/tests/tools/get/test_email_templates.py
  rossum-mcp/tests/tools/get/test_handler.py
  rossum-mcp/tests/tools/get/test_hooks.py
  rossum-mcp/tests/tools/get/test_organization_groups.py
  rossum-mcp/tests/tools/get/test_relations.py
  rossum-mcp/tests/tools/get/test_rules.py
  rossum-mcp/tests/tools/get/test_schemas.py
  rossum-mcp/tests/tools/search/test_email_templates.py
  rossum-mcp/tests/tools/search/test_rules.py
  rossum-mcp/tests/tools/test_base.py
  rossum-mcp/tests/tools/update/schemas/test_operations.py
  rossum-mcp/tests/tools/update/test_hooks.py
Due: rossum-mcp

rossum-mcp: Release rossum-mcp 2.1.2
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-agent: Bump up rossum-mcp to>=2.1.2
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
Due: rossum-agent

rossum-agent: Add Elasticsearch search tool and skill for annotation analytics
  AGENTS.md
  README.md
  docs/source/skills_and_subagents.rst
  env.sample
  pyproject.toml
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/skills/elasticsearch.md
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/elasticsearch.py
  rossum-agent/tests/tools/test_elasticsearch.py
  rossum-agent/uv.lock
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent

rossum-agent: Remove unnecessary __init__ in rossum_agent/data
  rossum-agent/rossum_agent/data/__init__.py
Due: rossum-agent

rossum-agent: Format slightly
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/tool_execution.py
  rossum-agent/rossum_agent/tools/dynamic_tools.py
  rossum-agent/rossum_agent/tools/mock_pdf.py
  rossum-agent/rossum_agent/tools/python_exec.py
Due: rossum-agent

Path conditions:
  rossum-mcp: any of: rossum-mcp/
  rossum-agent: any of: rossum-agent/
  rossum-deploy: any of: rossum-deploy/
