Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto

flags:
  rossum-mcp:
    paths:
      - rossum-mcp/
    carryforward: true
  rossum-agent:
    paths:
      - rossum-agent/
    carryforward: true
  rossum-deploy:
    paths:
      - rossum-deploy/
    carryforward: true

docs: Remove PRD reference
  README.md
Due: none

docs: Aling MCP Server with Claude with rossum-mcp/README/md
  README.md
Due: none

docs: Restructure documentation into multi-package site with versioned docs support
  .github/workflows/docs-deploy.yaml
  .github/workflows/release-rossum-agent.yml
  .github/workflows/release-rossum-mcp.yml
  AGENTS.md
  docs/source/_static/custom.css
  docs/source/_static/custom.js
  docs/source/api.rst
  docs/source/conf.py
  docs/source/examples.rst
  docs/source/examples/index.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/mcp_reference.rst
  docs/source/rossum-agent/configuration.rst
  docs/source/rossum-agent/index.rst
  docs/source/rossum-agent/skills.rst
  docs/source/rossum-agent/subagents.rst
  docs/source/rossum-agent/tools.rst
  docs/source/rossum-mcp/configuration.rst
  docs/source/rossum-mcp/index.rst
  docs/source/rossum-mcp/tools.rst
  docs/source/skills_and_subagents.rst
  docs/source/usage.rst
  docs/source/workflow.rst
  pyproject.toml
  uv.lock
Due: none

rossum-mcp: Release rossum-mcp 2.2.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
  rossum-mcp/uv.lock
Due: rossum-mcp

rossum-mcp: Start 2.3.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

ci: Add weekly Knowledge Base update workflow
  .github/workflows/update-knowledge-base.yaml
Due: none

fix: update GitHub Actions versions in update-knowledge-base workflow
  .github/workflows/update-knowledge-base.yaml
Due: none

ci: Bump up deprecated deps in upgrade-kb workflow
  .github/workflows/update-knowledge-base.yaml
  rossum-mcp/uv.lock
Due: rossum-mcp

rossum-agent: Remove ChatStorage Protocol in favor of direct PostgresStorage usage
  rossum-agent/rossum_agent/api/main.py
  rossum-agent/rossum_agent/api/services/chat_service.py
  rossum-agent/rossum_agent/api/services/file_service.py
  rossum-agent/rossum_agent/storage.py
  rossum-agent/tests/api/test_file_service.py
  rossum-agent/tests/test_postgres_storage.py
Due: rossum-agent

rossum-agent: Clean up url context builder
  rossum-agent/rossum_agent/url_context.py
Due: rossum-agent

rossum-agent: Bump up rossum-mcp to>=2.2.0
  rossum-agent/pyproject.toml
Due: rossum-agent

rossum-agent: Clean up type aliases, rename helpers, remove trivial docstrings
  rossum-agent/rossum_agent/agent/tool_execution.py
  rossum-agent/rossum_agent/postgres_storage.py
  rossum-agent/rossum_agent/rossum_mcp_integration.py
  rossum-agent/rossum_agent/storage.py
  rossum-agent/rossum_agent/utils.py
  rossum-agent/tests/test_postgres_storage.py
Due: rossum-agent

chore: update rossum-kb.json with latest Knowledge Base scrape
  rossum-agent/rossum_agent/data/rossum-kb.json
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Remove tool call deduplication logic
  rossum-agent/rossum_agent/agent/tool_execution.py
  rossum-agent/tests/agent/test_tool_execution.py
Due: rossum-agent

rossum-agent: Consolidate python_tools into tools/python_helper
  rossum-agent/rossum_agent/python_tools/copilot/_shared.py
  rossum-agent/rossum_agent/tools/python_exec.py
  rossum-agent/rossum_agent/tools/python_helpers/__init__.py
  rossum-agent/rossum_agent/tools/python_helpers/copilot/__init__.py
  rossum-agent/rossum_agent/tools/python_helpers/copilot/_shared.py
  rossum-agent/rossum_agent/tools/python_helpers/copilot/automation_setup.py
  rossum-agent/rossum_agent/tools/python_helpers/copilot/formula.py
  rossum-agent/rossum_agent/tools/python_helpers/copilot/lookup.py
  rossum-agent/rossum_agent/tools/python_helpers/copilot/rule.py
  rossum-agent/rossum_agent/tools/python_helpers/master_data_hub.py
  rossum-agent/tests/tools/python_helpers/__init__.py
  rossum-agent/tests/tools/python_helpers/copilot/__init__.py
  rossum-agent/tests/tools/python_helpers/copilot/test_automation_setup.py
  rossum-agent/tests/tools/python_helpers/copilot/test_formula.py
  rossum-agent/tests/tools/python_helpers/copilot/test_lookup.py
  rossum-agent/tests/tools/python_helpers/copilot/test_rule.py
  rossum-agent/tests/tools/python_helpers/copilot/test_shared.py
  rossum-agent/tests/tools/python_helpers/test_master_data_hub.py
  rossum-agent/tests/tools/test_execute_python.py
Due: rossum-agent

ci: Add article-level diffs to knowledge base update PRs
  .github/workflows/update-knowledge-base.yaml
Due: none

rossum-agent: Add rossum-mcp version bump chlog entry
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-agent: Migrate from Redis to Valkey
  .github/workflows/rossum-agent-tests.yaml
  .github/workflows/rossum-mcp-tests.yaml
  AGENTS.md
  README.md
  docker-compose.yml
  pyproject.toml
  regression_tests/conftest.py
  regression_tests/framework/models.py
  regression_tests/run_all.py
  regression_tests/test_cases.py
  regression_tests/test_regressions.py
  rossum-agent-client/README.md
  rossum-agent/README.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/api/commands/listing.py
  rossum-agent/rossum_agent/api/dependencies.py
  rossum-agent/rossum_agent/api/main.py
  rossum-agent/rossum_agent/api/routes/chats.py
  rossum-agent/rossum_agent/api/routes/helpers.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/change_tracking/store.py
  rossum-agent/rossum_agent/rossum_mcp_integration.py
  rossum-agent/rossum_agent/tools/change_history.py
  rossum-agent/rossum_agent/valkey_client.py
  rossum-agent/tests/api/conftest.py
  rossum-agent/tests/api/test_command_interception.py
  rossum-agent/tests/api/test_main.py
  rossum-agent/tests/api/test_routes.py
  rossum-agent/tests/change_tracking/test_store.py
  rossum-agent/tests/change_tracking/test_tracking_connection.py
  rossum-agent/tests/test_rossum_mcp_integration.py
  rossum-agent/uv.lock
  uv.lock
Due: rossum-agent

rossum-agent: Add VALKEY_PASSWORD support for authenticated connections
  AGENTS.md
  regression_tests/conftest.py
  rossum-agent/README.md
  rossum-agent/rossum_agent/valkey_client.py
Due: rossum-agent

rossum-agent: Update chlog
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-agent: Reuse extract_text_from_content instead of duplicate _extract_text_from_prompt
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/storage.py
  rossum-agent/rossum_agent/utils.py
  rossum-agent/tests/agent/test_core.py
  rossum-agent/tests/test_storage.py
  rossum-agent/tests/test_utils.py
Due: rossum-agent

rossum-agent: Split agent models.py into submodule package
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/agent/models/__init__.py
  rossum-agent/rossum_agent/agent/models/config.py
  rossum-agent/rossum_agent/agent/models/events.py
  rossum-agent/rossum_agent/agent/models/steps.py
  rossum-agent/rossum_agent/agent/models/tool_types.py
Due: rossum-agent

rossum-agent: Replace AgentConfig dataclass with module-level constants
  regression_tests/conftest.py
  regression_tests/run_all.py
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/rossum_agent/agent/__init__.py
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/models/__init__.py
  rossum-agent/rossum_agent/agent/models/config.py
  rossum-agent/rossum_agent/agent/tool_execution.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/tests/agent/test_cautious_gate.py
  rossum-agent/tests/agent/test_core.py
  rossum-agent/tests/agent/test_models.py
  rossum-agent/tests/agent/test_streaming.py
  rossum-agent/tests/agent/test_tool_execution.py
Due: rossum-agent

rossum-agent: Add internal consolidation chlog
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-agent: Clean truncate_output definition
  rossum-agent/rossum_agent/tools/data_tools.py
  rossum-agent/rossum_agent/tools/python_helpers/copilot/lookup.py
  rossum-agent/rossum_agent/tools/python_helpers/master_data_hub.py
  rossum-agent/rossum_agent/tools/subagents/elis_docs.py
  rossum-agent/rossum_agent/tools/utils.py
Due: rossum-agent

rossum-agent: Clean up tool execution
  rossum-agent/rossum_agent/agent/tool_execution.py
Due: rossum-agent

docs: Reflect Redis->Valkey migration
  docs/source/rossum-agent/configuration.rst
Due: none

rossum-agent: Agent memory docstring cleanup
  rossum-agent/rossum_agent/agent/memory.py
Due: rossum-agent

rossum-agent: Update agent core docstring diagram
  rossum-agent/rossum_agent/agent/core.py
Due: rossum-agent

rossum-agent: Fix import in tests
  rossum-agent/tests/tools/test_elis_openapi_search.py
Due: rossum-agent

rossum-agent: Consolidate repetitive tests with pytest.mark.parametrize
  rossum-agent/rossum_agent/data/rossum-kb.json
  rossum-agent/tests/test_mermaid_sanitizer.py
  rossum-agent/tests/test_url_context.py
  rossum-agent/tests/test_utils.py
  rossum-agent/tests/tools/python_helpers/copilot/test_automation_setup.py
  rossum-agent/tests/tools/python_helpers/copilot/test_formula.py
  rossum-agent/tests/tools/python_helpers/copilot/test_lookup.py
  rossum-agent/tests/tools/python_helpers/copilot/test_rule.py
  rossum-agent/tests/tools/python_helpers/test_master_data_hub.py
Due: rossum-agent

rossum-agent: Simplify and restructure README
  rossum-agent/README.md
Due: rossum-agent

rossum-agent: Move system_prompt.py into agent/ subpackage
  rossum-agent/rossum_agent/agent/system_prompt.py
  rossum-agent/rossum_agent/api/commands/listing.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/tests/prompts/test_system_prompt.py
Due: rossum-agent

rossum-agent: Move mermaind-sanitizer to API module
  rossum-agent/rossum_agent/api/mermaid_sanitizer.py
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/tests/test_mermaid_sanitizer.py
Due: rossum-agent

rossum-agent: Rename storage.py to chat_models.py
  rossum-agent/rossum_agent/api/routes/helpers.py
  rossum-agent/rossum_agent/api/services/chat_service.py
  rossum-agent/rossum_agent/chat_models.py
  rossum-agent/rossum_agent/postgres_storage.py
  rossum-agent/tests/api/test_cancellation.py
  rossum-agent/tests/api/test_chat_service.py
  rossum-agent/tests/api/test_command_interception.py
  rossum-agent/tests/api/test_commands.py
  rossum-agent/tests/api/test_message_routes.py
  rossum-agent/tests/api/test_routes.py
  rossum-agent/tests/test_chat_models.py
  rossum-agent/tests/test_postgres_storage.py
Due: rossum-agent

Revert "rossum-agent: Move mermaind-sanitizer to API module"
  rossum-agent/rossum_agent/api/routes/stream_adapter.py
  rossum-agent/rossum_agent/mermaid_sanitizer.py
  rossum-agent/tests/test_mermaid_sanitizer.py
Due: rossum-agent

rossum-agent: Split rossum_mcp_integration into a subpackage
  regression_tests/conftest.py
  regression_tests/run_all.py
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/rossum_agent/agent/cautious_gate.py
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/tool_execution.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/change_tracking/commit_service.py
  rossum-agent/rossum_agent/rossum_mcp_integration/__init__.py
  rossum-agent/rossum_agent/rossum_mcp_integration/change_tracking.py
  rossum-agent/rossum_agent/rossum_mcp_integration/connection.py
  rossum-agent/rossum_agent/rossum_mcp_integration/tools.py
  rossum-agent/rossum_agent/tools/change_history.py
  rossum-agent/rossum_agent/tools/core.py
  rossum-agent/rossum_agent/tools/dynamic_tools.py
  rossum-agent/tests/change_tracking/test_tracking_connection.py
  rossum-agent/tests/test_rossum_mcp_integration.py
  rossum-agent/tests/test_smoke.py
  rossum-agent/tests/tools/test_change_history.py
Due: rossum-agent

chore: update rossum-kb.json with latest Knowledge Base scrape
  rossum-agent/rossum_agent/data/rossum-kb.json
Due: rossum-agent

rossum-agent: Narrow postgres storage exception handlers to SQLAlchemyError
  rossum-agent/rossum_agent/postgres_storage.py
Due: rossum-agent
