Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto

flags:
  rossum-mcp:
    paths:
      - rossum-mcp/
    carryforward: true
  rossum-agent:
    paths:
      - rossum-agent/
    carryforward: true
  rossum-deploy:
    paths:
      - rossum-deploy/
    carryforward: true

chore: Add FastMCP tool guidelines to AGENTS.md
  AGENTS.md
Due: none

rossum-mcp: Add hook templates and run logs support
  AGENTS.md
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/hooks.py
  rossum-mcp/tests/tools/test_hooks.py
Due: rossum-mcp

rossum-agent: Add skills system for specialized agent workflows and enhance tooling and integration
  pyproject.toml
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/agent/skills.py
  rossum-agent/rossum_agent/api/routes/chats.py
  rossum-agent/rossum_agent/api/static/app.js
  rossum-agent/rossum_agent/api/static/index.html
  rossum-agent/rossum_agent/bedrock_client.py
  rossum-agent/rossum_agent/internal_tools.py
  rossum-agent/rossum_agent/mcp_tools.py
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/skills/hook-debugging.md
  rossum-agent/rossum_agent/skills/rossum-deployment.md
  rossum-agent/rossum_agent/streamlit_app/app.py
  rossum-agent/rossum_agent/utils.py
  rossum-agent/tests/api/test_routes.py
  rossum-agent/tests/test_agent.py
  rossum-agent/tests/test_bedrock_client.py
  rossum-agent/tests/test_internal_tools.py
  rossum-agent/tests/test_skills.py
Due: rossum-agent

rossum-mcp: Add users tool for user management
  rossum-mcp/rossum_mcp/server.py
  rossum-mcp/rossum_mcp/tools/__init__.py
  rossum-mcp/rossum_mcp/tools/users.py
  rossum-mcp/tests/tools/test_users.py
Due: rossum-mcp

rossum-mcp: Add schema fields and datapoints tools
  rossum-mcp/rossum_mcp/tools/schemas.py
  rossum-mcp/tests/tools/test_schemas.py
Due: rossum-mcp

rossum-mcp: Update docs and improve workspace logging
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/rossum_mcp/tools/workspaces.py
Due: rossum-mcp

Update docs, config & dependencies
  README.md
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/usage.rst
  rossum-agent/uv.lock
  ruff.toml
  uv.lock
Due: rossum-agent

chore: Add trailing comma guideline to Code Style section
  AGENTS.md
Due: none

rossum-mcp: Add hook templates and run logs support
  AGENTS.md
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/hooks.py
  rossum-mcp/tests/tools/test_hooks.py
Due: rossum-mcp

rossum-mcp: Add schema fields and datapoints tools
  rossum-mcp/CHANGELOG.md
  rossum-mcp/README.md
  rossum-mcp/rossum_mcp/tools/schemas.py
  rossum-mcp/tests/tools/test_schemas.py
Due: rossum-mcp

rossum-mcp: Add users tool for user management
  rossum-mcp/README.md
  rossum-mcp/rossum_mcp/server.py
  rossum-mcp/rossum_mcp/tools/__init__.py
  rossum-mcp/rossum_mcp/tools/users.py
  rossum-mcp/rossum_mcp/tools/workspaces.py
  rossum-mcp/tests/tools/test_users.py
Due: rossum-mcp

rossum-agent: Add deployment tools to internal_tools
  rossum-agent/rossum_agent/deploy_tools.py
  rossum-agent/tests/test_deploy_tools.py
Due: rossum-agent

rossum-agent: Add spawn_mcp_connection for multi-environment deployments
  rossum-agent/rossum_agent/internal_tools.py
  rossum-agent/tests/test_internal_tools.py
Due: rossum-agent

rossum-agent: Add skills system for specialized agent workflows
  pyproject.toml
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/memory.py
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/agent/skills.py
  rossum-agent/rossum_agent/api/routes/chats.py
  rossum-agent/rossum_agent/api/static/app.js
  rossum-agent/rossum_agent/api/static/index.html
  rossum-agent/rossum_agent/bedrock_client.py
  rossum-agent/rossum_agent/internal_tools.py
  rossum-agent/rossum_agent/mcp_tools.py
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/skills/hook-debugging.md
  rossum-agent/rossum_agent/skills/rossum-deployment.md
  rossum-agent/rossum_agent/streamlit_app/app.py
  rossum-agent/rossum_agent/utils.py
  rossum-agent/tests/api/test_routes.py
  rossum-agent/tests/test_agent.py
  rossum-agent/tests/test_bedrock_client.py
  rossum-agent/tests/test_skills.py
  rossum-agent/uv.lock
  ruff.toml
  uv.lock
Due: rossum-agent

docs: Update documentation for rossum-agent skills and tools
  README.md
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/usage.rst
Due: none

rossum-agent: Improve rossum_deploy integration to the agent
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/internal_tools.py
  rossum-agent/rossum_agent/skills/rossum-deployment.md
Due: rossum-agent

Update readme with a vision & roadmap
  README.md
Due: none

rossum-agent: Add a tool for comparing workspaces
  rossum-agent/rossum_agent/deploy_tools.py
  rossum-agent/rossum_agent/skills/rossum-deployment.md
Due: rossum-agent

rossum-agent: Fix displaying generated files in streamlit
  mypy.ini
  rossum-agent/rossum_agent/streamlit_app/app.py
Due: rossum-agent

rossum-agent: Display workspace diffs in a concise way
  rossum-agent/rossum_agent/skills/rossum-deployment.md
Due: rossum-agent

rossum-agent: Make token owner selection stricter
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/skills/rossum-deployment.md
  rossum-mcp/rossum_mcp/tools/hooks.py
  rossum-mcp/rossum_mcp/tools/users.py
Due: rossum-mcp, rossum-agent

rossum-agent: Add logging with deploy tools usage
  rossum-agent/rossum_agent/deploy_tools.py
Due: rossum-agent

rossum-agent: Improve sub-agent knowledge base info panel
  rossum-agent/rossum_agent/streamlit_app/response_formatting.py
Due: rossum-agent

rossum-agent: Improve multi-turn conversation by passing context properly
  rossum-agent/rossum_agent/agent/memory.py
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/tests/api/test_agent_service.py
  rossum-agent/tests/test_agent.py
Due: rossum-agent

rossum-agent: Update chlog
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-agent: Correctly re-use / re-spawn MCP connection in multi-turn conversations
  rossum-agent/rossum_agent/internal_tools.py
  rossum-agent/rossum_agent/skills/rossum-deployment.md
  rossum-agent/rossum_agent/streamlit_app/app.py
  rossum-agent/tests/test_internal_tools.py
Due: rossum-agent

rossum-agent: Put tools into a sole module & improve test coverage
  AGENTS.md
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/internal_tools.py
  rossum-agent/rossum_agent/rossum_mcp_integration.py
  rossum-agent/rossum_agent/streamlit_app/app.py
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/core.py
  rossum-agent/rossum_agent/tools/deploy.py
  rossum-agent/rossum_agent/tools/file_tools.py
  rossum-agent/rossum_agent/tools/hook_debug.py
  rossum-agent/rossum_agent/tools/knowledge_base.py
  rossum-agent/rossum_agent/tools/skills.py
  rossum-agent/rossum_agent/tools/spawn_mcp.py
  rossum-agent/tests/test_agent.py
  rossum-agent/tests/test_internal_tools.py
  rossum-agent/tests/test_rossum_mcp_integration.py
  rossum-agent/tests/test_skills.py
  rossum-agent/tests/tools/__init__.py
  rossum-agent/tests/tools/test_base.py
  rossum-agent/tests/tools/test_deploy.py
  rossum-agent/tests/tools/test_file_tools.py
  rossum-agent/tests/tools/test_hook_debug.py
  rossum-agent/tests/tools/test_init.py
  rossum-agent/tests/tools/test_knowledge_base.py
  rossum-agent/tests/tools/test_skills.py
  rossum-agent/tests/tools/test_spawn_mcp.py
Due: rossum-agent

Revert "rossum-agent: Put tools into a sole module & improve test coverage"
  AGENTS.md
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/models.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/deploy_tools.py
  rossum-agent/rossum_agent/internal_tools.py
  rossum-agent/rossum_agent/mcp_tools.py
  rossum-agent/rossum_agent/streamlit_app/app.py
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/core.py
  rossum-agent/rossum_agent/tools/file_tools.py
  rossum-agent/rossum_agent/tools/hook_debug.py
  rossum-agent/rossum_agent/tools/knowledge_base.py
  rossum-agent/rossum_agent/tools/skills.py
  rossum-agent/rossum_agent/tools/spawn_mcp.py
  rossum-agent/tests/test_agent.py
  rossum-agent/tests/test_deploy_tools.py
  rossum-agent/tests/test_internal_tools.py
  rossum-agent/tests/test_mcp_tools.py
  rossum-agent/tests/test_skills.py
  rossum-agent/tests/tools/__init__.py
  rossum-agent/tests/tools/test_base.py
  rossum-agent/tests/tools/test_file_tools.py
  rossum-agent/tests/tools/test_hook_debug.py
  rossum-agent/tests/tools/test_init.py
  rossum-agent/tests/tools/test_knowledge_base.py
  rossum-agent/tests/tools/test_skills.py
  rossum-agent/tests/tools/test_spawn_mcp.py
Due: rossum-agent

rossum-agent: Update README
  rossum-agent/README.md
Due: rossum-agent

rossum-mcp: Update README
  README.md
  rossum-mcp/README.md
Due: rossum-mcp

rossum-mcp: Enhance test coverage
  .github/workflows/rossum-mcp-tests.yaml
  rossum-mcp/pyproject.toml
  rossum-mcp/tests/test_logging_config.py
  rossum-mcp/tests/tools/test_annotations.py
  rossum-mcp/tests/tools/test_engines.py
  rossum-mcp/tests/tools/test_queues.py
  rossum-mcp/tests/tools/test_schemas.py
  rossum-mcp/tests/tools/test_users.py
Due: rossum-mcp

Add regression testing
  README.md
  regression_tests/.env.example
  regression_tests/README.md
  regression_tests/__init__.py
  regression_tests/conftest.py
  regression_tests/framework/__init__.py
  regression_tests/framework/assertions.py
  regression_tests/framework/mermaid_analyzer.py
  regression_tests/framework/models.py
  regression_tests/framework/runner.py
  regression_tests/test_cases.py
  regression_tests/test_regressions.py
Due: none

Update installation instructions in README
  README.md
Due: none

Update uv locks
  rossum-agent/uv.lock
  rossum-deploy/uv.lock
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent, rossum-deploy

Fix MCP tool count in the main README
  README.md
Due: none

rossum-agent[api]: Remove test front-end since it does not fit into the repo
  rossum-agent/rossum_agent/api/main.py
  rossum-agent/rossum_agent/api/static/app.js
  rossum-agent/rossum_agent/api/static/index.html
  rossum-agent/rossum_agent/api/static/styles.css
  rossum-agent/tests/api/test_file_routes.py
Due: rossum-agent

rossum-agent[api]: Fix tests
  rossum-agent/tests/api/test_file_routes.py
  rossum-agent/tests/api/test_routes.py
Due: rossum-agent

security: Add CodeQL CI workflow
  .github/workflows/codeql.yaml
Due: none

Add security badges to README
  README.md
Due: none
