Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Release rossum-agent 1.6.1post0
  rossum-agent/pyproject.toml
Due: rossum-agent

rossum-mcp: Add format field to schema datapoint models
  rossum-agent/uv.lock
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/tools/models.py
  rossum-mcp/rossum_mcp/tools/update/models.py
  rossum-mcp/tests/tools/create/test_models.py
  rossum-mcp/tests/tools/update/test_models.py
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent

rossum-mcp: Release rossum-mcp 2.0.4
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-mcp: Continue 2.1.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

Bump up rossum-api>=3.12.1 in pyprojects
  pyproject.toml
  rossum-agent/pyproject.toml
  rossum-deploy/pyproject.toml
  rossum-mcp/pyproject.toml
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Bump up rossum-mcp to>=2.0.4
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Release rossum-agent 1.7.0
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
  uv.lock
Due: rossum-agent

rossum-agent: Start 2.0.0
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  uv.lock
Due: rossum-agent

rossum-agent: Add versioned OpenAPI spec archiving and version selector
  .github/workflows/docs-build.yaml
  .github/workflows/docs-deploy.yaml
  .github/workflows/release-rossum-agent.yml
  AGENTS.md
  rossum-agent/scripts/openapi_redoc.html
Due: rossum-agent

docs: Update landing page
  docs/landing/index.html
Due: none

rossum-agent: Streamline prompts module to a single file
  rossum-agent/rossum_agent/api/commands/listing.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/prompts/__init__.py
  rossum-agent/rossum_agent/prompts/system_prompt.py
  rossum-agent/rossum_agent/system_prompt.py
  rossum-agent/tests/prompts/test_system_prompt.py
Due: rossum-agent

docs: Polish readme repo structure
  README.md
Due: none

rossum-agent: Add xlrd dependency to read legacy xls files
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
Due: rossum-agent

rossum-agent: Release rossum-agent 1.7.1
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

ci: Add API extras for generating OpenAPI spec
  .github/workflows/release-rossum-agent.yml
Due: none

ci: Shuffle steps in release agent
  .github/workflows/release-rossum-agent.yml
Due: none

rossum-agent: Continue in 2.0.0
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-agent: Fix test_open_rejects_path_outside_workspace on macOS
  rossum-agent/tests/tools/test_execute_python.py
  rossum-agent/uv.lock
Due: rossum-agent

Clean up and align dependencies across all packages
  pyproject.toml
  rossum-agent-client/pyproject.toml
  rossum-agent/pyproject.toml
  rossum-mcp/pyproject.toml
  uv.lock
Due: rossum-mcp, rossum-agent

rossum-agent: Add field_type support to formula field creation
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/python_tools/copilot/formula.py
  rossum-agent/rossum_agent/skills/formula-fields.md
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
  rossum-agent/tests/python_tools/copilot/test_formula.py
  rossum-agent/tests/tools/subagents/test_schema_patching.py
Due: rossum-agent

rossum-agent: Hide internal write tools in read-only MCP mode
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/tests/tools/test_init.py
Due: rossum-agent

rossum-agent: Inject MCP mode into system prompt
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/system_prompt.py
  rossum-agent/tests/prompts/test_system_prompt.py
Due: rossum-agent

rossum-mcp: Relocate get_mcp_mode to discovery tools
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/server.py
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/discovery.py
  rossum-mcp/tests/test_catalog.py
Due: rossum-mcp

rossum-mcp: Release rossum-mcp 2.0.5
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-agent: Bump up rossum-mcp to>=2.0.5
  rossum-agent/pyproject.toml
Due: rossum-agent

rossum-agent: Release rossum-agent 1.7.2
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

regression_tests: Fix get_system_prompt import
  regression_tests/conftest.py
  regression_tests/run_all.py
Due: none

regression_tests: Fix isort
  regression_tests/conftest.py
  regression_tests/run_all.py
Due: none

docs: Fix invalid JSON union syntax in TOOLS.md
  rossum-mcp/TOOLS.md
Due: rossum-mcp

rossum-agent: Consolidate MCPMode type alias to schemas.py
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/api/services/chat_service.py
  rossum-agent/rossum_agent/rossum_mcp_integration.py
  rossum-agent/rossum_agent/storage.py
  rossum-agent/rossum_agent/system_prompt.py
Due: rossum-agent

Upgrade party
  rossum-agent/uv.lock
  rossum-deploy/uv.lock
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent, rossum-deploy

Fix ty after upgrade party
  rossum-agent/rossum_agent/agent/core.py
  rossum-agent/rossum_agent/agent/memory.py
  rossum-agent/rossum_agent/agent/streaming.py
  rossum-agent/rossum_agent/api/services/slack_service.py
  rossum-agent/rossum_agent/change_tracking/commit_service.py
  rossum-agent/rossum_agent/tools/__init__.py
  rossum-agent/rossum_agent/tools/ask_user.py
  rossum-agent/rossum_agent/tools/dynamic_tools.py
  rossum-agent/rossum_agent/tools/python_exec.py
  rossum-agent/rossum_agent/tools/subagents/elis_docs.py
  rossum-agent/rossum_agent/tools/subagents/knowledge_base/agent.py
  rossum-agent/rossum_agent/tools/task_tracker.py
  rossum-deploy/rossum_deploy/workspace.py
  rossum-mcp/rossum_mcp/server.py
  rossum-mcp/rossum_mcp/tools/base.py
  rossum-mcp/rossum_mcp/tools/get/related.py
  rossum-mcp/rossum_mcp/tools/update/schemas/handler.py
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-mcp: Add after_field/before_field positioning to patch_schema
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/update/handler.py
  rossum-mcp/rossum_mcp/tools/update/schemas/handler.py
  rossum-mcp/rossum_mcp/tools/update/schemas/patching.py
  rossum-mcp/tests/tools/update/schemas/test_patching.py
Due: rossum-mcp

rossum-agent: Support after_field/before_field in schema patching subagent
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/skills/schema-patching.md
  rossum-agent/rossum_agent/tools/subagents/schema_patching.py
  rossum-agent/tests/tools/subagents/test_schema_patching.py
  rossum-agent/uv.lock
Due: rossum-agent

rossum-mcp: Release rossum-mcp 2.0.6
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

Path conditions:
  rossum-mcp: any of: rossum-mcp/
  rossum-agent: any of: rossum-agent/
  rossum-deploy: any of: rossum-deploy/
