Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Bump up rossum-mcp to>=2.0.6
  rossum-agent/pyproject.toml
Due: rossum-agent

rossum-agent: Sanitize mermaid diagram syntax in agent responses
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/mermaid_sanitizer.py
  rossum-agent/rossum_agent/system_prompt.py
  rossum-agent/tests/test_mermaid_sanitizer.py
Due: rossum-agent

AGENTS: Add a bullet point agent should add PR reference if available
  AGENTS.md
Due: none

rossum-agent: Release rossum-agent 1.7.3
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Continue in 2.0.0
  rossum-agent/CHANGELOG.md
Due: rossum-agent

claude: Add ink-tui-best-practices and sync in AGENTS.md
  .claude/commands/ink-tui-best-practices.md
  AGENTS.md
Due: none

rossum-agent-tui: Add Kitty keyboard protocol for Shift+Enter and Escape disambiguation
  rossum-agent-tui/src/app.tsx
  rossum-agent-tui/src/components/InputArea.tsx
  rossum-agent-tui/src/components/MultiLineInput.tsx
Due: none

rossum-agent-tui: Fix Kitty protocol breaking Ctrl+V/N/U/X key combos
  rossum-agent-tui/src/app.tsx
  rossum-agent-tui/src/components/InputArea.tsx
  rossum-agent-tui/src/components/MultiLineInput.tsx
Due: none

rossum-agent-tui: Fix stale cursor during rapid paste
  rossum-agent-tui/src/components/MultiLineInput.tsx
Due: none

Add inbox and connector management MCP tools
  rossum-mcp/rossum_mcp/tools/catalog.py
  rossum-mcp/rossum_mcp/tools/create/connectors.py
  rossum-mcp/rossum_mcp/tools/create/handler.py
  rossum-mcp/rossum_mcp/tools/create/inboxes.py
  rossum-mcp/rossum_mcp/tools/delete/handler.py
  rossum-mcp/rossum_mcp/tools/delete/models.py
  rossum-mcp/rossum_mcp/tools/delete/registry.py
  rossum-mcp/rossum_mcp/tools/get/handler.py
  rossum-mcp/rossum_mcp/tools/get/registry.py
  rossum-mcp/rossum_mcp/tools/search/models.py
  rossum-mcp/rossum_mcp/tools/search/registry.py
  rossum-mcp/rossum_mcp/tools/update/connectors.py
  rossum-mcp/rossum_mcp/tools/update/handler.py
  rossum-mcp/rossum_mcp/tools/update/inboxes.py
  rossum-mcp/tests/test_catalog.py
  rossum-mcp/tests/tools/create/test_connectors.py
  rossum-mcp/tests/tools/create/test_inboxes.py
  rossum-mcp/tests/tools/delete/test_handler.py
  rossum-mcp/tests/tools/get/test_handler.py
  rossum-mcp/tests/tools/update/test_connectors.py
  rossum-mcp/tests/tools/update/test_inboxes.py
Due: rossum-mcp

rossum-agent: Fix agent confusing documents and annotations from URL context
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/system_prompt.py
  rossum-agent/rossum_agent/url_context.py
  rossum-agent/tests/test_url_context.py
Due: rossum-agent

rossum-agent: Add intermediate chat history saves after each completed step
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/tests/api/conftest.py
  rossum-agent/tests/api/test_agent_service.py
  rossum-agent/tests/api/test_message_routes.py
Due: rossum-agent

rossum-agent: Clarify load_tool requirement in schema-patching skill
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/skills/schema-patching.md
Due: rossum-agent

rossum-agent: Add master-data-hub skill for MDH dataset exploration
  docs/source/skills_and_subagents.rst
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/rossum_agent/python_tools/master_data_hub.py
  rossum-agent/rossum_agent/skills/lookup-fields.md
  rossum-agent/rossum_agent/skills/master-data-hub.md
  rossum-agent/rossum_agent/system_prompt.py
  rossum-agent/rossum_agent/tools/python_exec.py
  rossum-agent/tests/python_tools/test_master_data_hub.py
Due: rossum-agent

rossum-agent: Generate skill catalog from frontmatter instead of hardcoded list
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/skills.py
  rossum-agent/rossum_agent/skills/automation-setup.md
  rossum-agent/rossum_agent/skills/document-testing.md
  rossum-agent/rossum_agent/skills/formula-fields.md
  rossum-agent/rossum_agent/skills/hooks.md
  rossum-agent/rossum_agent/skills/lookup-fields.md
  rossum-agent/rossum_agent/skills/master-data-hub.md
  rossum-agent/rossum_agent/skills/python-execution.md
  rossum-agent/rossum_agent/skills/reasoning-fields.md
  rossum-agent/rossum_agent/skills/rules-and-actions.md
  rossum-agent/rossum_agent/skills/schema-patching.md
  rossum-agent/rossum_agent/skills/txscript.md
  rossum-agent/rossum_agent/skills/ui-settings.md
  rossum-agent/rossum_agent/system_prompt.py
  rossum-agent/tests/agent/test_skills.py
  rossum-agent/tests/prompts/test_system_prompt.py
Due: rossum-agent

rossum-agent: Add customer-email skill for drafting client-facing emails
  docs/landing/index.html
  docs/source/skills_and_subagents.rst
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/rossum_agent/skills/customer-email.md
Due: rossum-agent

rossum-agent: Add MDH skill to landing page and add customer-email frontmatter
  docs/landing/index.html
  rossum-agent/rossum_agent/skills/customer-email.md
Due: rossum-agent

commands: Add /ds-analyze-chats command for chat data analysis
  .claude/commands/ds-analyze-chats.md
Due: none

docs: Fix docs
  README.md
  examples/README.md
  regression_tests/README.md
  rossum-agent-client/README.md
  rossum-agent-tui/README.md
  rossum-agent/README.md
  rossum-deploy/README.md
  rossum-mcp/README.md
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Release rossum-agent 1.8.0
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
Due: rossum-agent

commands: Harden ds-analyze-chats parsing and constrain cross-referencing
  .claude/commands/ds-analyze-chats.md
Due: none

rossum-mcp/agent: Fix relative path resolution between agent and MCP server
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/core.py
  rossum-agent/rossum_agent/tools/mock_pdf.py
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/create/annotations.py
  rossum-mcp/rossum_mcp/tools/create/handler.py
  rossum-mcp/tests/tools/create/test_annotations.py
Due: rossum-mcp, rossum-agent

rossum-agent: Accept list data in run_jq tool
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/data_tools.py
  rossum-agent/tests/tools/test_data_tools.py
Due: rossum-agent

regression_tests: Pass MCP mode to the prompt generation
  regression_tests/conftest.py
Due: none

rossum-agent: Update rossum-kb.json with latest KB scrape (2026-03-26)
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/data/rossum-kb.json
Due: rossum-agent

docs: Fix MCP tool count in TOOLS.md (31→30, Rules 3→2)
  rossum-mcp/TOOLS.md
Due: rossum-mcp

docs: Update run_jq docs to reflect dict/list data support
  docs/source/skills_and_subagents.rst
Due: none

style: Tighten return type annotations in discovery.py
  rossum-mcp/rossum_mcp/tools/discovery.py
Due: rossum-mcp

rossum-agent: Clarify one-action-per-type API constraint in rules skill
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/skills/rules-and-actions.md
Due: rossum-agent

regression_tests: Loosen setup_invoice_queue_with_business_validation_rules requirements
  regression_tests/test_cases.py
Due: none

rossum-agent: Add Unicode font support to mock PDF generation
  Dockerfile
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/tools/mock_pdf.py
  rossum-agent/tests/tools/test_mock_pdf.py
Due: rossum-agent

docs: Drop some badges from readme
  README.md
Due: none

regression_tests: Do not assert for spillover files
  regression_tests/framework/assertions.py
Due: none

regression_tests: Allow more steps for create_queue_add_formula_then_update_formula
  regression_tests/test_cases.py
Due: none

regression_tests: Be more benevolent with replace_schema_with_single_formula_field
  regression_tests/test_cases.py
Due: none

regression_tests: Be more benevolent with replace_schema_and_revert
  regression_tests/test_cases.py
Due: none

commands: Remove unused ds-agent-release
  .claude/commands/ds-agent-release.md
Due: none

rossum-agent: Release rossum-agent 1.8.1
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

Path conditions:
  rossum-mcp: any of: rossum-mcp/
  rossum-agent: any of: rossum-agent/
  rossum-deploy: any of: rossum-deploy/
