Repository stancld/rossum-mcp: changes, and which Codecov flags are due for each by the changed paths.
All: rossum-mcp, rossum-agent, rossum-deploy

rossum-agent: Add `time` to execute_python allowed imports
  docs/source/usage.rst
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/skills/python-execution.md
  rossum-agent/rossum_agent/tools/python_exec.py
  rossum-agent/tests/tools/test_execute_python.py
Due: rossum-agent

rossum-mcp: Add required flag to get_schema_tree_structure output
  docs/source/mcp_reference.rst
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/get/handler.py
  rossum-mcp/rossum_mcp/tools/get/models.py
  rossum-mcp/rossum_mcp/tools/get/related.py
  rossum-mcp/rossum_mcp/tools/get/schemas.py
  rossum-mcp/tests/conftest.py
  rossum-mcp/tests/tools/get/test_schemas.py
Due: rossum-mcp

AGENTS: Add a note about deprecation of current SSE contract
  AGENTS.md
Due: none

rossum-agent: Update document-testing skill mock PDF guidance
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/skills/document-testing.md
  rossum-agent/rossum_agent/tools/mock_pdf.py
  rossum-agent/tests/tools/test_mock_pdf.py
Due: rossum-agent

rossum-agent: Add v2 AI SDK-compatible streaming schemas
  rossum-agent/rossum_agent/api/models/stream_v2.py
  rossum-agent/tests/api/test_stream_v2_schemas.py
Due: rossum-agent

rossum-agent: Make mock PDF line items internally consistent
  docs/source/index.rst
  docs/source/skills_and_subagents.rst
  docs/source/usage.rst
  rossum-agent/README.md
  rossum-agent/rossum_agent/skills/document-testing.md
  rossum-agent/rossum_agent/tools/mock_pdf.py
  rossum-agent/tests/tools/test_mock_pdf.py
Due: rossum-agent

rossum-agent: Add engine fields requirements to schema-patching
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/skills/schema-patching.md
Due: rossum-agent

rossum-mcp: Fix multiline field sent as Python bool instead of API-expected string
  rossum-mcp/CHANGELOG.md
  rossum-mcp/rossum_mcp/tools/create/engines.py
  rossum-mcp/tests/tools/create/test_engines.py
Due: rossum-mcp

rossum-mcp: Release rossum-mcp 2.0.3
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

rossum-mcp: Continue 2.1.0
  rossum-mcp/CHANGELOG.md
  rossum-mcp/pyproject.toml
  rossum-mcp/rossum_mcp/__init__.py
Due: rossum-mcp

Upgrade party
  .pre-commit-config.yaml
  rossum-agent/pyproject.toml
  rossum-agent/uv.lock
  rossum-mcp/uv.lock
  uv.lock
Due: rossum-mcp, rossum-agent

rossum-agent: Release rossum-agent 1.5.6
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Continue in 1.6.0
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-agent: Add automation-setup skill for queue threshold optimization
  docs/source/skills_and_subagents.rst
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/python_tools/copilot/automation_setup.py
  rossum-agent/rossum_agent/skills/automation-setup.md
  rossum-agent/rossum_agent/tools/python_exec.py
  rossum-agent/tests/python_tools/copilot/test_automation_setup.py
Due: rossum-agent

rossum-agent: Fix hook action and payload key in skill docs
  rossum-agent/rossum_agent/skills/hooks.md
  rossum-agent/rossum_agent/skills/txscript.md
Due: rossum-agent

rossum-agent: Add missing chlog entry
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-agent: Clarify automation stats data shapes in skill docs
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/skills/automation-setup.md
Due: rossum-agent

Fix repo URL in readmes
  rossum-agent/CHANGELOG.md
  rossum-deploy/CHANGELOG.md
  rossum-mcp/CHANGELOG.md
Due: rossum-mcp, rossum-agent, rossum-deploy

rossum-mcp: Add format field to schema datapoint models
  rossum-mcp/rossum_mcp/tools/models.py
  rossum-mcp/rossum_mcp/tools/update/models.py
  rossum-mcp/tests/tools/create/test_models.py
  rossum-mcp/tests/tools/update/test_models.py
Due: rossum-mcp

rossum-agent: Consolidate automation-setup chlog records
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-agent: Release rossum-agent 1.6.0
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Start 1.7.0
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
Due: rossum-agent

rossum-agent: Fix cautious persona losing pre-approvals when agent asks questions
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/agent/cautious_gate.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/prompts/base_prompt.py
  rossum-agent/rossum_agent/tools/core.py
  rossum-agent/tests/agent/test_cautious_gate.py
  rossum-agent/tests/api/test_agent_service.py
Due: rossum-agent

rossum-agent: Add graceful shutdown with request draining on SIGTERM
  rossum-agent-client-ts/src/generated.ts
  rossum-agent/rossum_agent/api/main.py
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/routes/health.py
  rossum-agent/rossum_agent/api/shutdown.py
  rossum-agent/tests/api/conftest.py
  rossum-agent/tests/api/test_graceful_shutdown.py
Due: rossum-agent

rossum-agent: Release rossum-agent 1.6.1
  rossum-agent/CHANGELOG.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/__init__.py
  rossum-agent/uv.lock
Due: rossum-agent

rossum-agent: Continue in 1.7.0
  rossum-agent/CHANGELOG.md
Due: rossum-agent

rossum-agent: Remove unused ROSSUM_KB_DATA_PATH env var override
  AGENTS.md
  docker-compose.yml
  regression_tests/conftest.py
  regression_tests/run_all.py
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/rossum_agent/tools/subagents/knowledge_base/cache.py
  rossum-agent/tests/tools/test_knowledge_base_search.py
Due: rossum-agent

rossum-agent: Remove Redis as chat persistence backend
  AGENTS.md
  docker-compose.yml
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/rossum_agent/api/dependencies.py
  rossum-agent/rossum_agent/api/main.py
  rossum-agent/rossum_agent/api/routes/chats.py
  rossum-agent/rossum_agent/api/routes/health.py
  rossum-agent/rossum_agent/api/routes/messages.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/rossum_agent/redis_client.py
  rossum-agent/rossum_agent/redis_storage.py
  rossum-agent/rossum_agent/storage.py
  rossum-agent/tests/api/conftest.py
  rossum-agent/tests/api/test_command_interception.py
  rossum-agent/tests/api/test_file_service.py
  rossum-agent/tests/api/test_main.py
  rossum-agent/tests/api/test_routes.py
  rossum-agent/tests/test_redis_storage.py
  rossum-agent/tests/test_storage.py
Due: rossum-agent

rossum-agent: Add Excel spreadsheet support via pandas/openpyxl
  pyproject.toml
  rossum-agent-client-ts/src/generated.ts
  rossum-agent-tui/package.json
  rossum-agent-tui/src/utils/fileAttachments.ts
  rossum-agent/CHANGELOG.md
  rossum-agent/README.md
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/tools/python_exec.py
  rossum-agent/tests/api/test_document_upload.py
  rossum-agent/tests/tools/test_execute_python.py
  rossum-agent/uv.lock
  uv.lock
Due: rossum-agent

Update READMEs: disclaimers, Redis docs cleanup, fix tool count and paths
  README.md
  rossum-agent-client-ts/README.md
  rossum-agent-client/README.md
  rossum-agent-tui/README.md
  rossum-agent/README.md
  rossum-mcp/README.md
Due: rossum-mcp, rossum-agent

rossum-agent: Add Alembic migrations for PostgreSQL schema management
  pyproject.toml
  rossum-agent/CHANGELOG.md
  rossum-agent/alembic.ini
  rossum-agent/pyproject.toml
  rossum-agent/rossum_agent/alembic/env.py
  rossum-agent/rossum_agent/alembic/script.py.mako
  rossum-agent/rossum_agent/alembic/versions/0001_initial_schema.py
  rossum-agent/rossum_agent/postgres_storage.py
  rossum-agent/tests/test_postgres_storage.py
  scripts/check_dead_functions.py
  uv.lock
Due: rossum-agent

rossum-agent: Remove sandbox path restriction from read_excel()
  rossum-agent/rossum_agent/tools/python_exec.py
  rossum-agent/tests/tools/test_execute_python.py
Due: rossum-agent

rossum-agent: Add plain text / markdown file support for document uploads
  rossum-agent-client-ts/src/generated.ts
  rossum-agent-tui/src/app.tsx
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/tests/api/test_agent_service.py
  rossum-agent/tests/api/test_document_upload.py
Due: rossum-agent

rossum-agent: Add text/markdown as distinct media type for document uploads
  rossum-agent-client-ts/src/generated.ts
  rossum-agent-tui/src/app.tsx
  rossum-agent/CHANGELOG.md
  rossum-agent/rossum_agent/api/models/schemas.py
  rossum-agent/rossum_agent/api/services/agent_service.py
  rossum-agent/tests/api/test_agent_service.py
  rossum-agent/tests/api/test_document_upload.py
Due: rossum-agent

Revert "Merge pull request #288 from stancld/ds-mcp-datapoint-format"
  rossum-mcp/rossum_mcp/tools/models.py
  rossum-mcp/rossum_mcp/tools/update/models.py
  rossum-mcp/tests/tools/create/test_models.py
  rossum-mcp/tests/tools/update/test_models.py
Due: rossum-mcp

ci: Include files (not lfs pointers) in release
  .github/workflows/release-rossum-agent.yml
Due: none

Path conditions:
  rossum-mcp: any of: rossum-mcp/
  rossum-agent: any of: rossum-agent/
  rossum-deploy: any of: rossum-deploy/
